In [1]:
import pandas as pd
import numpy as np

In [31]:
file_path1 = rf"C:\Users\admin\Desktop\USOptions\DTE0.csv"
file_path2 = rf"C:\Users\admin\Desktop\USOptions\DTE1.csv"
output_path = rf'C:\\users\\admin\\desktop\\'

df1 = pd.read_csv(file_path1)
print(df1.shape[0])
df1['Date'] = pd.to_datetime(df1['Date'],format='mixed',dayfirst=True)
df1['Expiry_Dates'] = pd.to_datetime(df1['Expiry_Dates'],format='mixed',dayfirst=True)
df1 = df1.sort_values(by=['Date','Time']).reset_index(drop=True)
df1['Option_Type'] = df1.loc[:,'Ticker'].str[-9]

df2 = pd.read_csv(file_path2)
df2['Date'] = pd.to_datetime(df2['Date'],format='mixed',dayfirst=True)
df2['Expiry_Dates'] = pd.to_datetime(df2['Expiry_Dates'],format='mixed',dayfirst=True)
df2 = df2.sort_values(by=['Date','Time']).reset_index(drop=True)
df2['Option_Type'] = df2.loc[:,'Ticker'].str[-9]

df3 = df1.merge(df2[['Date','Time','Strike','close','Option_Type']], on =['Date','Time','Strike','Option_Type'],how='left')
df3.rename(columns={'close_x':'close','close_y':'AUX_Close'},inplace=True)
df3 = df3[['New_Ticker','Date','Time','open','high','low','close','volume','AUX_Close']]
df3.to_csv(output_path + 'Combined.csv',index=False)
df3

23000

,New_Ticker,Date,Time,open,high,low,close,volume,AUX_Close
0,O:SPYD0P00340000,2023-10-31,09:30:00,0.01,0.01,0.01,0.01,3,NaN
1,O:SPYD0C00418000,2023-10-31,09:30:00,0.57,0.61,0.49,0.50,1580,1.52
2,O:SPYD0P00418000,2023-10-31,09:30:00,2.34,2.74,2.30,2.72,86,3.30
3,O:SPYD0P00417000,2023-10-31,09:30:00,1.79,2.05,1.68,2.05,651,3.10
4,O:SPYD0C00419000,2023-10-31,09:30:00,0.33,0.36,0.28,0.29,681,1.17
...,...,...,...,...,...,...,...,...,...
22995,O:SPYD0P00419000,2023-11-01,15:59:00,0.01,0.01,0.01,0.01,2,NaN
22996,O:SPYD0C00418000,2023-11-01,15:59:00,4.61,4.65,4.59,4.65,54,NaN
22997,O:SPYD0P00415000,2023-11-01,15:59:00,0.01,0.01,0.01,0.01,20,NaN
22998,O:SPYD0C00415000,2023-11-01,15:59:00,7.72,7.72,7.72,7.72,1023,NaN
22999,O:SPYD0P00416000,2023-11-01,15:59:00,0.01,0.01,0.01,0.01,1,NaN