In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import math
import matplotlib.pyplot as plt
import datetime
from datetime import date
from tqdm.notebook import tqdm
from pyxirr import xirr
print("Libraries Imported.")

Libraries Imported.

In [219]:
# Market Cap Range
lower_r = 500
upper_r = 20000

In [181]:
path = r"C:\Users\admin\Dropbox\PMS Fundamental\2023\Ranking\8th June 2023 Quatrely Data.xlsx"
df1 = pd.read_excel(path)

In [182]:
df1

,Sr.No.,Accord Code,Company Name,QTRC_B_ Year End,QTRC_B_Shareholder's Funds,QTRC_B_Long Term Borrowing,QTRC_B_Short Term Borrowings,YR_Operating Profit,YR_Depreciation,YR_Profit after tax,...,QTR_B_BS Updation Date,BDP_Date,BDP_Mcap,BDP_Close,CD_Industry,BDP_Date1,BDP_Close1,CONS_QTRC_B_1,CONS_YR_1,CONS_QTR_B_1
0,1,238988,1025SREID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaN,NaN,Other,2015-08-11,1000.00,S,S,S
1,2,207635,20 Microns Ltd.,202303.0,293.600,18.569,83.35,88.670,13.805,41.871,...,2023-05-17,2023-03-31,261.931704,74.23,Mining & Minerals,2023-06-07,96.89,C,C,C
2,3,224943,20 Microns Nano Minerals Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaN,NaN,Mining & Minerals,NaT,NaN,S,S,S
3,4,126921,21st Century Management Services Ltd.,202303.0,20.700,0.000,10.00,-17.874,0.062,-18.063,...,2023-05-26,2023-03-31,22.249500,21.19,Finance - Investment,2023-06-07,18.17,C,C,C
4,5,228974,360 One Wam Ltd.,202303.0,3121.950,0.000,201.40,1296.850,46.310,657.890,...,2023-05-04,2023-03-31,15342.118520,430.85,Finance - Others,2023-06-07,422.30,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7954,7955,100780,Zuari Industries Ltd.,202303.0,2394.974,1773.491,846.13,210.113,27.421,-74.368,...,2023-05-26,2023-03-31,323.423658,108.60,Trading,2023-06-07,145.35,C,C,C
7955,7956,130091,Zyden Gentec Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaN,NaN,Pharmaceuticals & Drugs,2016-03-28,0.87,S,S,S
7956,7957,132321,Zydus Lifesciences Ltd.,202303.0,17515.800,0.000,1163.20,4046.500,722.700,2001.900,...,2023-05-18,2023-03-31,49749.833432,491.50,Pharmaceuticals & Drugs,2023-06-07,515.00,C,C,C
7957,7958,131335,Zydus Wellness Ltd.,202303.0,5122.650,0.000,292.50,342.010,25.020,310.370,...,2023-05-17,2023-03-31,9862.345999,1549.90,Consumer Food,2023-06-07,1491.70,C,C,C
7958,7959,132883,Zylog Systems Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaN,NaN,IT - Software,2019-07-15,0.67,S,S,S

In [183]:
df1.dropna(subset=['QTRC_B_      Year End'],inplace=True)
df1

,Sr.No.,Accord Code,Company Name,QTRC_B_ Year End,QTRC_B_Shareholder's Funds,QTRC_B_Long Term Borrowing,QTRC_B_Short Term Borrowings,YR_Operating Profit,YR_Depreciation,YR_Profit after tax,...,QTR_B_BS Updation Date,BDP_Date,BDP_Mcap,BDP_Close,CD_Industry,BDP_Date1,BDP_Close1,CONS_QTRC_B_1,CONS_YR_1,CONS_QTR_B_1
1,2,207635,20 Microns Ltd.,202303.0,293.600,18.569,83.35,88.670,13.805,41.871,...,2023-05-17,2023-03-31,261.931704,74.23,Mining & Minerals,2023-06-07,96.89,C,C,C
3,4,126921,21st Century Management Services Ltd.,202303.0,20.700,0.000,10.00,-17.874,0.062,-18.063,...,2023-05-26,2023-03-31,22.249500,21.19,Finance - Investment,2023-06-07,18.17,C,C,C
4,5,228974,360 One Wam Ltd.,202303.0,3121.950,0.000,201.40,1296.850,46.310,657.890,...,2023-05-04,2023-03-31,15342.118520,430.85,Finance - Others,2023-06-07,422.30,C,C,C
5,6,132628,3I Infotech Ltd.,202303.0,642.820,0.190,37.90,41.480,22.800,1.370,...,2023-05-06,2023-03-31,462.607751,27.46,IT - Software,2023-06-07,32.28,C,C,C
6,7,123395,3M India Ltd.,202303.0,1677.470,0.000,NaN,672.388,57.679,451.020,...,2023-05-30,2023-03-31,25921.432998,23010.45,Diversified,2023-06-07,26890.25,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7947,7948,252306,Zomato Ltd.,202303.0,19459.800,5.800,34.60,-528.800,436.900,-970.700,...,2023-05-19,2023-03-31,43588.685788,50.96,e-Commerce,2023-06-07,74.54,C,C,C
7951,7952,285652,Zota Health Care Ltd.,202303.0,80.356,0.000,NaN,9.291,11.957,-5.774,...,2023-05-31,NaT,NaN,NaN,Pharmaceuticals & Drugs,NaT,NaN,C,C,C
7954,7955,100780,Zuari Industries Ltd.,202303.0,2394.974,1773.491,846.13,210.113,27.421,-74.368,...,2023-05-26,2023-03-31,323.423658,108.60,Trading,2023-06-07,145.35,C,C,C
7956,7957,132321,Zydus Lifesciences Ltd.,202303.0,17515.800,0.000,1163.20,4046.500,722.700,2001.900,...,2023-05-18,2023-03-31,49749.833432,491.50,Pharmaceuticals & Drugs,2023-06-07,515.00,C,C,C
7957,7958,131335,Zydus Wellness Ltd.,202303.0,5122.650,0.000,292.50,342.010,25.020,310.370,...,2023-05-17,2023-03-31,9862.345999,1549.90,Consumer Food,2023-06-07,1491.70,C,C,C

In [220]:
df2 = df1[(df1['BDP_Mcap']>=lower_r)&(df1['BDP_Mcap']<=upper_r)]

In [231]:
print(f"\n{round((df2.shape[0]/1081)*100)}% of companies have the results. i.e.")
print(f"\n{df2.shape[0]} companies out of 1081 have givenout the results.")

91% of companies have the results. i.e.

989 companies out of 1081 have givenout the results.

In [186]:
df2.drop(columns=['Accord Code','Sr.No.','CONS_QTRC_B_1','CONS_YR_1','CONS_QTR_B_1',"QTR_B_BS Updation Date","BDP_Close"],inplace=True)

**Removing the following Sectors :**

In [187]:
removed_list = ["Finance - Investment"
                ,"Finance - NBFC"
                ,"Finance - Housing"
                ,"Construction - Real Estate"
                ,"Leather"
                ,"Bank - Public"
                ,"Aquaculture"
                ,"Breweries & Distilleries"
                ,"Bank - Private"
                ,"Finance - Others"
                ,"Finance - Asset Management"
                ,"Cigarettes/Tobacco"
                ,"Finance Term Lending"
                ,"Trading"]

**Finding Adjusted Profit :**  
  
  
Operating Profit Adjusted = Operating Profit *(from Ace Equity)* - Depreciation

In [188]:
df2 = df2[~df2['CD_Industry'].isin(removed_list)]
df2['Operating Profit Adjusted'] = df2["YR_Operating Profit"]-df2["YR_Depreciation"]
df2

,Company Name,QTRC_B_ Year End,QTRC_B_Shareholder's Funds,QTRC_B_Long Term Borrowing,QTRC_B_Short Term Borrowings,YR_Operating Profit,YR_Depreciation,YR_Profit after tax,YR_Other Income,YR_Exceptional Items,BDP_Date,BDP_Mcap,CD_Industry,BDP_Date1,BDP_Close1,Operating Profit Adjusted
10,5Paisa Capital Ltd.,202303.0,463.261,0.00,169.283,87.515,8.794,43.565,1.504,NaN,2023-03-31,866.527041,Finance - Stock Broking,2023-06-07,380.25,78.721
11,63 Moons Technologies Ltd.,202303.0,3115.009,0.00,NaN,84.936,23.390,-21.814,111.701,-41.366,2023-03-31,806.604790,IT - Software,2023-06-07,163.60,61.546
41,Aarti Drugs Ltd.,202303.0,1192.430,204.68,401.840,307.790,50.320,166.360,2.200,NaN,2023-03-31,3128.028000,Pharmaceuticals & Drugs,2023-06-07,471.15,257.470
42,Aarti Industries Ltd.,202303.0,4920.000,635.00,2239.000,1089.000,310.000,545.000,1.000,NaN,2023-03-31,18784.959094,Chemicals,2023-06-07,521.35,779.000
43,Aarti Pharmalabs Ltd.,202303.0,1558.490,0.18,213.780,344.360,62.540,193.490,2.320,NaN,2023-03-31,2489.043310,Pharmaceuticals & Drugs,2023-06-07,389.40,281.820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7918,Zee Media Corporation Ltd.,202303.0,387.330,120.61,75.230,84.720,91.650,-63.640,19.120,-30.990,2023-03-31,537.868665,TV Broadcasting & Software Production,2023-06-07,8.13,-6.930
7921,Zen Technologies Ltd.,202303.0,316.171,0.00,5.895,79.860,6.056,49.970,7.247,2.000,2023-03-31,2604.747600,IT - Software,2023-06-07,413.40,73.804
7933,Zensar Technologies Ltd.,202303.0,2976.200,0.00,NaN,655.000,183.000,327.600,102.800,NaN,2023-03-31,6204.018482,IT - Software,2023-06-07,394.50,472.000
7935,ZF Commercial Vehicle Control Systems India Ltd.,202303.0,2409.115,0.00,NaN,537.339,104.777,317.672,66.982,NaN,2023-03-31,19687.214137,Auto Ancillary,2023-06-07,11502.30,432.562
7957,Zydus Wellness Ltd.,202303.0,5122.650,0.00,292.500,342.010,25.020,310.370,4.860,-10.050,2023-03-31,9862.345999,Consumer Food,2023-06-07,1491.70,316.990

**Filter :**  
  
  
* Shareholder's Fund > 0
* Operating Profit > 0
* PAT > 0

In [189]:
df3 = df2[(df2["QTRC_B_Shareholder's Funds"] > 0) & (df2["Operating Profit Adjusted"] > 0) & (df2["YR_Profit after tax"] > 0)]
print(df3.shape[0]," Companies present, out of ", df2.shape[0])

752  Companies present, out of  839

In [190]:
# Renaming Columns for simplicity
df3.rename(columns={'QTRC_B_      Year End':'Year End',"QTRC_B_Shareholder's Funds":"Shareholder's Funds",'QTRC_B_Long Term Borrowing':"Long Term Borrowing",'QTRC_B_Short Term Borrowings':"Short Term Borrowing",
                   "YR_Operating Profit":"Operating Profit",'YR_Depreciation':"Depreciation",'YR_Profit after tax':"PAT",'YR_Other Income':"Other Income",
                   'YR_Exceptional Items':"Exceptional Items",'BDP_Mcap':"Market Cap","BDP_Close1":"Close Price"},inplace=True)

### Calculations :  
* **ROCE** = (Operating profit Adjusted  - Depreciation) / (shareholders fund + long term borrowings + short term borrowings)  
  
  
* **% Other Income** = Other Income / PAT
  
  
* Creating an **Alert** to know companies that have higher than 20% of *% Other Income*.

In [191]:
df3['ROCE'] = ((df3.fillna(0)['Operating Profit Adjusted']-df3.fillna(0)['Exceptional Items']) / (df3.fillna(0)["Shareholder's Funds"]+df3.fillna(0)["Long Term Borrowing"]+df3.fillna(0)["Short Term Borrowing"]))*100
df3["% Other Income"] = (df3["Other Income"] / df3["PAT"])*100
df3["Alert"] = np.where(df3['% Other Income'] > 20,"HIGH","gtg")
df3

,Company Name,Year End,Shareholder's Funds,Long Term Borrowing,Short Term Borrowing,Operating Profit,Depreciation,PAT,Other Income,Exceptional Items,BDP_Date,Market Cap,CD_Industry,BDP_Date1,Close Price,Operating Profit Adjusted,ROCE,% Other Income,Alert
10,5Paisa Capital Ltd.,202303.0,463.261,0.000,169.283,87.515,8.794,43.565,1.504,NaN,2023-03-31,866.527041,Finance - Stock Broking,2023-06-07,380.25,78.721,12.445142,3.452313,gtg
41,Aarti Drugs Ltd.,202303.0,1192.430,204.680,401.840,307.790,50.320,166.360,2.200,NaN,2023-03-31,3128.028000,Pharmaceuticals & Drugs,2023-06-07,471.15,257.470,14.312238,1.322433,gtg
42,Aarti Industries Ltd.,202303.0,4920.000,635.000,2239.000,1089.000,310.000,545.000,1.000,NaN,2023-03-31,18784.959094,Chemicals,2023-06-07,521.35,779.000,9.994868,0.183486,gtg
43,Aarti Pharmalabs Ltd.,202303.0,1558.490,0.180,213.780,344.360,62.540,193.490,2.320,NaN,2023-03-31,2489.043310,Pharmaceuticals & Drugs,2023-06-07,389.40,281.820,15.900025,1.199028,gtg
114,Action Construction Equipment Ltd.,202303.0,918.560,0.000,6.200,262.040,18.000,172.990,41.120,NaN,2023-03-31,4847.281493,Engineering - Industrial Equipments,2023-06-07,491.40,244.040,26.389550,23.770160,HIGH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7910,Yuken India Ltd.,202303.0,199.313,14.105,103.635,36.014,12.583,9.547,3.595,2.386,2023-03-31,612.840000,Engineering - Industrial Equipments,2023-06-07,614.75,23.431,6.637691,37.655808,HIGH
7921,Zen Technologies Ltd.,202303.0,316.171,0.000,5.895,79.860,6.056,49.970,7.247,2.000,2023-03-31,2604.747600,IT - Software,2023-06-07,413.40,73.804,22.294809,14.502702,gtg
7933,Zensar Technologies Ltd.,202303.0,2976.200,0.000,NaN,655.000,183.000,327.600,102.800,NaN,2023-03-31,6204.018482,IT - Software,2023-06-07,394.50,472.000,15.859149,31.379731,HIGH
7935,ZF Commercial Vehicle Control Systems India Ltd.,202303.0,2409.115,0.000,NaN,537.339,104.777,317.672,66.982,NaN,2023-03-31,19687.214137,Auto Ancillary,2023-06-07,11502.30,432.562,17.955224,21.085270,HIGH
7957,Zydus Wellness Ltd.,202303.0,5122.650,0.000,292.500,342.010,25.020,310.370,4.860,-10.050,2023-03-31,9862.345999,Consumer Food,2023-06-07,1491.70,316.990,6.039353,1.565873,gtg

### TOP 30 Companies wo other income filter:
Finding top 30 ROCE stocks.

In [192]:
x = df3.sort_values(by="ROCE",ascending=False)[['Company Name','Market Cap','Close Price','ROCE','Exceptional Items','% Other Income']][:30]
x.reset_index(drop=True,inplace=True)
x

,Company Name,Market Cap,Close Price,ROCE,Exceptional Items,% Other Income
0,Tuticorin Alkali Chemicals and Fertilizers Ltd.,616.367464,65.53,607.117464,NaN,2.126945
1,KSolves India Ltd.,522.553200,898.30,147.142921,NaN,2.532362
2,Shoppers Stop Ltd.,7101.342293,779.95,112.106705,-2.000,48.900957
3,Tips Industries Ltd.,1857.626411,208.25,77.789853,NaN,6.999294
4,Forbes & Company Ltd.,754.182078,599.50,75.960737,12.020,142.342199
5,Esab India Ltd.,5443.356698,3859.40,70.157913,NaN,5.748821
6,Waaree Renewable Technologies Ltd.,1611.796671,1007.65,66.318893,NaN,2.757848
7,Dreamfolks Services Ltd.,2254.848750,620.80,62.588204,NaN,4.544514
8,ICICI Securities Ltd.,13804.209625,540.55,60.702421,NaN,0.870592
9,Jyoti Resins & Adhesives Ltd.,1524.960000,1409.00,57.976731,NaN,4.870486
10,West Coast Paper Mills Ltd.,3499.931635,518.65,55.538189,-15.384,7.135800
11,Fine Organic Industries Ltd.,13204.638464,4998.95,54.023997,NaN,10.349183
12,Swaraj Engines Ltd.,1866.888019,2037.50,52.546682,NaN,8.943941
13,Gujarat Themis Biosyn Ltd.,997.250105,806.70,52.073807,NaN,10.391761
14,Ashoka Buildcon Ltd.,2076.228913,80.17,50.111473,-72.000,36.268132
15,Computer Age Management Services Ltd.,9955.008771,2179.65,49.607471,NaN,9.420201
16,Refex Industries Ltd.,524.820750,525.20,49.552515,-0.247,7.141011
17,Indian Energy Exchange Ltd.,11404.750081,148.75,48.933670,NaN,25.030414
18,Shilchar Technologies Ltd.,576.281008,1835.30,48.385237,NaN,18.739420
19,Chennai Petroleum Corporation Ltd.,3542.602206,361.25,47.905521,NaN,0.203921
20,Cantabil Retail India Ltd.,1354.619998,1051.20,47.217364,NaN,6.558889
21,Apar Industries Ltd.,9579.974737,2805.95,45.662553,NaN,5.875435
22,Andhra Paper Ltd.,1645.286513,444.65,45.360806,-15.384,9.955901
23,Axita Cotton Ltd.,1116.853920,27.67,44.292534,NaN,29.437661
24,Angel One Ltd.,9704.218471,1457.10,43.867506,NaN,2.194246
25,Ingersoll-Rand (India) Ltd.,8244.614560,2819.20,43.027179,NaN,10.556286
26,Bombay Burmah Trading Corporation Ltd.,5664.431701,962.10,42.398943,-1475.297,159.407850
27,Archean Chemical Industries Ltd.,8007.057994,596.45,41.902304,NaN,11.310905
28,Easy Trip Planners Ltd.,7566.906960,45.03,41.612408,NaN,11.462831
29,Knowledge Marine & Engineering Works Ltd.,973.656145,1152.35,41.551050,NaN,2.928028

## Final TOP 30 Companies :
Finding top 30 ROCE stocks with their % Other Income < 20 %.

In [206]:
top30 = df3[df3['Alert']=="gtg"].sort_values(by="ROCE",ascending=False)[['Company Name','Market Cap','ROCE','Close Price']][:30]
top30.reset_index(drop=True,inplace=True)

In [207]:
top30

,Company Name,Market Cap,ROCE,Close Price
0,Tuticorin Alkali Chemicals and Fertilizers Ltd.,616.367464,607.117464,65.53
1,KSolves India Ltd.,522.553200,147.142921,898.30
2,Tips Industries Ltd.,1857.626411,77.789853,208.25
3,Esab India Ltd.,5443.356698,70.157913,3859.40
4,Waaree Renewable Technologies Ltd.,1611.796671,66.318893,1007.65
5,Dreamfolks Services Ltd.,2254.848750,62.588204,620.80
6,ICICI Securities Ltd.,13804.209625,60.702421,540.55
7,Jyoti Resins & Adhesives Ltd.,1524.960000,57.976731,1409.00
8,West Coast Paper Mills Ltd.,3499.931635,55.538189,518.65
9,Fine Organic Industries Ltd.,13204.638464,54.023997,4998.95
10,Swaraj Engines Ltd.,1866.888019,52.546682,2037.50
11,Gujarat Themis Biosyn Ltd.,997.250105,52.073807,806.70
12,Computer Age Management Services Ltd.,9955.008771,49.607471,2179.65
13,Refex Industries Ltd.,524.820750,49.552515,525.20
14,Shilchar Technologies Ltd.,576.281008,48.385237,1835.30
15,Chennai Petroleum Corporation Ltd.,3542.602206,47.905521,361.25
16,Cantabil Retail India Ltd.,1354.619998,47.217364,1051.20
17,Apar Industries Ltd.,9579.974737,45.662553,2805.95
18,Andhra Paper Ltd.,1645.286513,45.360806,444.65
19,Angel One Ltd.,9704.218471,43.867506,1457.10
20,Ingersoll-Rand (India) Ltd.,8244.614560,43.027179,2819.20
21,Archean Chemical Industries Ltd.,8007.057994,41.902304,596.45
22,Easy Trip Planners Ltd.,7566.906960,41.612408,45.03
23,Knowledge Marine & Engineering Works Ltd.,973.656145,41.551050,1152.35
24,Tanfac Industries Ltd.,995.305500,41.431013,1969.70
25,Hawkins Cookers Ltd.,3255.522622,41.378552,6394.15
26,Timex Group India Ltd.,1221.999750,41.087365,169.60
27,Devyani International Ltd.,17417.716719,40.993605,180.95
28,Share India Securities Ltd.,3444.533059,40.970465,1289.80
29,Steelcast Ltd.,921.830800,40.582780,494.40

___

## Client Side Calculations

In [208]:
path_clients = r"C:\Users\admin\Dropbox\PMS Fundamental\2023\Ranking\PMS Clients Portfolio Holdings as of 8 June 2023.xlsx"

# Excel Sheet Names
clients = ["Vedant Ajmera", "Ashit Jhaveri", "Sanjeev Ajmera", "Shailesh Mittle",
           "Priyanka Mittle", "Tanvi Gala", "Mayuri Gandhi"]

# Cash available in each client's account
cash = {"Vedant Ajmera"     :  588316,
        "Ashit Jhaveri"     : -23081,
        "Sanjeev Ajmera"    :  1178287,
        "Shailesh Mittle"   : -124293,
        "Priyanka Mittle"   :  156408,
        "Tanvi Gala"        : -32136,
        "Mayuri Gandhi"     :  37544,}

___

In [209]:
prevholding = pd.read_excel(path_clients,sheet_name=clients[0])

### Current Holdings of the clients with quantity.

In [210]:
prevholding

                                 Company Name   Qty  Close Price
0                  ANDHRA PETROCHEMICALS LTD.   861        59.07
1                       APL APOLLO TUBES LTD.   209      1177.95
2                          BALAJI AMINES LTD.    71      2168.90
3          BHANSALI ENGINEERING POLYMERS LTD.   931       160.60
4                        CHEMPLAST SANMAR LTD   481       451.00
5        COMPUTER AGE MANAGEMENT SERVICES LTD    40      2180.05
6                      EASY TRIP PLANNERS LTD  4660        45.00
7                             ESAB INDIA LTD.    71      3857.90
8                 GODAWARI POWER & ISPAT LTD.   418       366.55
9                      GUFIC BIOSCIENCES LTD.  1154       198.30
10                 GUJARAT THEMIS BIOSYN LTD.   443       806.70
11                       HAWKINS COOKERS LTD.    46      6394.15
12                        MAITHAN ALLOYS LTD.   253       978.45
13                  MANALI PETROCHEMICAL LTD.  2122        67.55
14               MONARCH NETWORTH CAPITAL LTD   934       212.55
15                  NEW DELHI TELEVISION LTD.  1014       237.40
16  PUNJAB CHEMICALS AND CROP PROTECTION LTD.   118       850.50
17                 SHARE INDIA SECURITIES LTD   194      1289.75
18                  SHYAM CENTURY FERROUS LTD  9752        18.90
19                       SONATA SOFTWARE LTD.   637       983.00
20                        SPORTKING INDIA LTD   229       784.00
21         STYRENIX PERFORMANCE MATERIALS LTD    99      1005.30
22                     SUPREME PETROCHEM LTD.   468       382.10
23                  SUVEN PHARMACEUTICALS LTD   502       477.10
24                        SWARAJ ENGINES LTD.    71      2036.85
25                       TAAL ENTERPRISES LTD   133      1985.20
26                     TANFAC INDUSTRIES LTD.   470      1969.70
27                 THYROCARE TECHNOLOGIES LTD   111       474.80
28             TINPLATE COMPANY OF INDIA LTD.   699       333.65
29                       TIPS INDUSTRIES LTD.  1270       208.10

In [211]:
top30[['Qty','Qty Holding','Buy Value','Current Value']] = 0

In [212]:
for r in range(top30.shape[0]):
    if top30['Company Name'].iloc[r][-1] == "." :
        top30['Company Name'].iloc[r] = top30['Company Name'].iloc[r][:-1].upper()
    else:
        top30['Company Name'].iloc[r] = top30['Company Name'].iloc[r].upper()
        
for r in range(prevholding.shape[0]):
    if prevholding['Company Name'].iloc[r][-1] == "." :
        prevholding['Company Name'].iloc[r] = prevholding['Company Name'].iloc[r][:-1].upper()
    else:
        prevholding['Company Name'].iloc[r] = prevholding['Company Name'].iloc[r].upper()

### Companies repeating from holdings :

In [213]:
repeating_companies = top30[top30['Company Name'].isin(prevholding['Company Name'])].reset_index(drop=True)[['Company Name','ROCE']]

display(repeating_companies)

print(f"\nTotal {repeating_companies.shape[0]} companies are repeating from previous holdings.")

                           Company Name       ROCE
0                   TIPS INDUSTRIES LTD  77.789853
1                        ESAB INDIA LTD  70.157913
2                    SWARAJ ENGINES LTD  52.546682
3             GUJARAT THEMIS BIOSYN LTD  52.073807
4  COMPUTER AGE MANAGEMENT SERVICES LTD  49.607471
5                EASY TRIP PLANNERS LTD  41.612408
6                 TANFAC INDUSTRIES LTD  41.431013
7                   HAWKINS COOKERS LTD  41.378552
8            SHARE INDIA SECURITIES LTD  40.970465

Total 9 companies are repeating from previous holdings.

### Companies to go out from holdings :

In [214]:
removing_companies = prevholding[~prevholding['Company Name'].isin(top30['Company Name'])]
removing_companies.reset_index(drop=True,inplace=True)

In [215]:
display(removing_companies)

print(f"\nTotal {removing_companies.shape[0]} companies are going out from previous holdings.")

                                Company Name   Qty  Close Price
0                  ANDHRA PETROCHEMICALS LTD   861        59.07
1                       APL APOLLO TUBES LTD   209      1177.95
2                          BALAJI AMINES LTD    71      2168.90
3          BHANSALI ENGINEERING POLYMERS LTD   931       160.60
4                       CHEMPLAST SANMAR LTD   481       451.00
5                 GODAWARI POWER & ISPAT LTD   418       366.55
6                      GUFIC BIOSCIENCES LTD  1154       198.30
7                         MAITHAN ALLOYS LTD   253       978.45
8                   MANALI PETROCHEMICAL LTD  2122        67.55
9               MONARCH NETWORTH CAPITAL LTD   934       212.55
10                  NEW DELHI TELEVISION LTD  1014       237.40
11  PUNJAB CHEMICALS AND CROP PROTECTION LTD   118       850.50
12                 SHYAM CENTURY FERROUS LTD  9752        18.90
13                       SONATA SOFTWARE LTD   637       983.00
14                       SPORTKING INDIA LTD   229       784.00
15        STYRENIX PERFORMANCE MATERIALS LTD    99      1005.30
16                     SUPREME PETROCHEM LTD   468       382.10
17                 SUVEN PHARMACEUTICALS LTD   502       477.10
18                      TAAL ENTERPRISES LTD   133      1985.20
19                THYROCARE TECHNOLOGIES LTD   111       474.80
20             TINPLATE COMPANY OF INDIA LTD   699       333.65

Total 21 companies are going out from previous holdings.

### Calculations :
* Number stocks to be sold.
* Amount we'll be getting after selling + available cash.
* Amount available for each new Individual stock to be bought.

In [216]:
selling_amount = (removing_companies['Qty']*removing_companies['Close Price']).sum() + cash[clients[0]]
selling_count  = removing_companies.shape[0]
indv_amount = selling_amount/selling_count

print("Number of companies to be sold : ",selling_count,"\n")
print("Selling Amount : ",selling_amount,"\n")
print("Individual Buying Amount : ",indv_amount,"\n")
#print(selling_amount, selling_count, indv_amount)

Number of companies to be sold :  21

Selling Amount :  4776184.92

Individual Buying Amount :  227437.37714285715

### Adding Quantity to buy for new companies
* Quantity to be bought for each stock.
* Buying Value for each stock.
* Current Value of each stock.

In [217]:
for j in range(top30.shape[0]):
    
    if top30['Company Name'].iloc[j] in list(prevholding['Company Name']):
        top30['Qty Holding'].iloc[j]   = prevholding[prevholding['Company Name']==top30['Company Name'].iloc[j]]['Qty'].iloc[0]
        top30['Close Price'].iloc[j]   = prevholding[prevholding['Company Name']==top30['Company Name'].iloc[j]]['Close Price'].iloc[0]
        top30['Current Value'].iloc[j] = top30['Qty Holding'].iloc[j]*top30['Close Price'].iloc[j]
        
    else:
        top30['Qty'].iloc[j]           = math.floor(indv_amount/top30['Close Price'].iloc[j])
        #top30['Qty Holding'].iloc[j]   = top30['Qty'].iloc[j]
        top30['Buy Value'].iloc[j]     = top30['Qty'].iloc[j]*top30['Close Price'].iloc[j]
        top30['Current Value'].iloc[j] = top30['Qty'].iloc[j]*top30['Close Price'].iloc[j]

In [218]:
display(top30)
print(f"\nWe Bought worth Rs. {top30['Buy Value'].sum()} stocks for {clients[0]}")

,Company Name,Market Cap,ROCE,Close Price,Qty,Qty Holding,Buy Value,Current Value
0,TUTICORIN ALKALI CHEMICALS AND FERTILIZERS LTD,616.367464,607.117464,65.53,3470,0,227389.10,227389.10
1,KSOLVES INDIA LTD,522.553200,147.142921,898.30,253,0,227269.90,227269.90
2,TIPS INDUSTRIES LTD,1857.626411,77.789853,208.10,0,1270,0.00,264287.00
3,ESAB INDIA LTD,5443.356698,70.157913,3857.90,0,71,0.00,273910.90
4,WAAREE RENEWABLE TECHNOLOGIES LTD,1611.796671,66.318893,1007.65,225,0,226721.25,226721.25
5,DREAMFOLKS SERVICES LTD,2254.848750,62.588204,620.80,366,0,227212.80,227212.80
6,ICICI SECURITIES LTD,13804.209625,60.702421,540.55,420,0,227031.00,227031.00
7,JYOTI RESINS & ADHESIVES LTD,1524.960000,57.976731,1409.00,161,0,226849.00,226849.00
8,WEST COAST PAPER MILLS LTD,3499.931635,55.538189,518.65,438,0,227168.70,227168.70
9,FINE ORGANIC INDUSTRIES LTD,13204.638464,54.023997,4998.95,45,0,224952.75,224952.75
10,SWARAJ ENGINES LTD,1866.888019,52.546682,2036.85,0,71,0.00,144616.35
11,GUJARAT THEMIS BIOSYN LTD,997.250105,52.073807,806.70,0,443,0.00,357368.10
12,COMPUTER AGE MANAGEMENT SERVICES LTD,9955.008771,49.607471,2180.05,0,40,0.00,87202.00
13,REFEX INDUSTRIES LTD,524.820750,49.552515,525.20,433,0,227411.60,227411.60
14,SHILCHAR TECHNOLOGIES LTD,576.281008,48.385237,1835.30,123,0,225741.90,225741.90
15,CHENNAI PETROLEUM CORPORATION LTD,3542.602206,47.905521,361.25,629,0,227226.25,227226.25
16,CANTABIL RETAIL INDIA LTD,1354.619998,47.217364,1051.20,216,0,227059.20,227059.20
17,APAR INDUSTRIES LTD,9579.974737,45.662553,2805.95,81,0,227281.95,227281.95
18,ANDHRA PAPER LTD,1645.286513,45.360806,444.65,511,0,227216.15,227216.15
19,ANGEL ONE LTD,9704.218471,43.867506,1457.10,156,0,227307.60,227307.60
20,INGERSOLL-RAND (INDIA) LTD,8244.614560,43.027179,2819.20,80,0,225536.00,225536.00
21,ARCHEAN CHEMICAL INDUSTRIES LTD,8007.057994,41.902304,596.45,381,0,227247.45,227247.45
22,EASY TRIP PLANNERS LTD,7566.906960,41.612408,45.00,0,4660,0.00,209700.00
23,KNOWLEDGE MARINE & ENGINEERING WORKS LTD,973.656145,41.551050,1152.35,197,0,227012.95,227012.95
24,TANFAC INDUSTRIES LTD,995.305500,41.431013,1969.70,0,470,0.00,925759.00
25,HAWKINS COOKERS LTD,3255.522622,41.378552,6394.15,0,46,0.00,294130.90
26,TIMEX GROUP INDIA LTD,1221.999750,41.087365,169.60,1341,0,227433.60,227433.60
27,DEVYANI INTERNATIONAL LTD,17417.716719,40.993605,180.95,1256,0,227273.20,227273.20
28,SHARE INDIA SECURITIES LTD,3444.533059,40.970465,1289.75,0,194,0.00,250211.50
29,STEELCAST LTD,921.830800,40.582780,494.40,460,0,227424.00,227424.00

We Bought worth Rs. 4765766.350000001 stocks for Vedant Ajmera

---