In [7]:
# -*- coding: utf-8 -*-
"""
Created on Mon Feb 13 10:02:35 2023

@author: admin
"""

import psycopg2
import time
import pandas as pd
from io import StringIO
import re
import os
from os import walk
from datetime import date

st=time.time()

date1 = input('Enter a date in YYYY-MM-DD format ')                                     ## TO BE CHANGED DAILY AS PER UPDATION DATE
year , month , day = map(int,date1.split('-'))
day , month = f"{day:02d}",f"{month:02d}"

# date1 = date(2023,5,4)
# day = date1.strftime('%d')
# nummonth=date1.strftime("%m")
# year=date1.strftime('%Y')
datestr=str(year)+"-"+str(month)+"-"+str(day)
print(datestr)
choice = int(input("1 for BANKNIFTY\n2 for NIFTY\n3 for FINNIFTY\n4 to UPDATE ALL\n5 to EXIT\n"))

def banknifty_monthly():
    conn = psycopg2.connect(database="BankNiftydb",
    						user='postgres', password='swancap123',
    						host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("APPENDING BANKNIFTY MONTHLY CONTRACTS")
    for i in range(1,4):
        if(i==1):
            numberstring="I"
            schema="BankNiftyMonthlyI"
            infotable="BANKNIFTYMONTHLY-Iinfo"
        if(i==2):
            numberstring="II"
            schema="BankNiftyMonthlyII"
            infotable="BANKNIFTYMONTHLY-IIinfo"
        if(i==3):
            numberstring="III"
            schema="BankNiftyMonthlyIII"
            infotable="BANKNIFTYMONTHLY-IIIinfo"
            
        bndf=pd.read_csv("C:\\Users\\admin\\Desktop\\Pyspark\\BankNifty\Monthly\Banknifty-"+numberstring+".csv")
        df=bndf.groupby(['Ticker'])
        for name,group in df:
            print(name)
            sql2='''CREATE TABLE IF NOT EXISTS "'''+schema+'''"."'''+name+'''"(Ticker varchar(50) NOT NULL,Date Date NOT NULL,Time time NOT NULL,Open float NOT NULL,High float NOT NULL,Low float NOT NULL,Close float NOT NULL,Volume float NOT NULL,"Open Int" float NOT NULL);'''
            cursor.execute(sql2)
            conn.commit()
            noofrows=group.shape[0]
#             print(noofrows)
            buffer = StringIO()
            group.to_csv(buffer, index = False)
            buffer.seek(0)
            sql = "COPY %s FROM STDIN WITH CSV HEADER DELIMITER AS ','"
            table='"'+schema+'"."'+name+'"'
            with conn.cursor() as cur:
                #cur.execute("truncate " + table + ";")
                cur.copy_expert(sql=sql % table, file=buffer)
                conn.commit()
            cursor = conn.cursor()
            s='''Select 1 from "'''+schema+'''"."'''+infotable+'''" where ticker=\''''+name+'''\';'''
            cursor.execute(s)
            k=cursor.fetchall()
#             print(k)
            if(k==[]):
                num=re.findall(r"[-+]?(?:\d*\.*\d+)", name)
                strike=num[0]
                typecepe=name[-2:]
                sql3 ='''INSERT INTO "'''+schema+'''"."'''+infotable+'''"(Ticker,Strike,Type)VALUES (%s,%s,%s)'''
                record_to_insert = (name,strike,typecepe)
                cursor.execute(sql3, record_to_insert)
                conn.commit()
            sql4='''Select count(*) from "'''+schema+'''"."'''+name+'''" where date=\''''+datestr+'''\';'''
            cursor.execute(sql4)
            r=cursor.fetchall()
#             print(r[0][0])
            if(r[0][0]!=noofrows):
                print("numberofrows not matching")
                break
    conn.close()

def banknifty_weekly():
    conn = psycopg2.connect(database="BankNiftydb",
    						user='postgres', password='swancap123',
    						host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("APPENDING BANKNIFTY WEEKLY CONTRACTS")
    for i in range(1,15):
        if(i==1):
            numberstring="I"
            schema="BankNiftyWeeklyI"
            infotable="BANKNIFTYWEEKLY-Iinfo"
        if(i==2):
            numberstring="II"
            schema="BankNiftyWeeklyII"
            infotable="BANKNIFTYWEEKLY-IIinfo"
        if(i==3):
            numberstring="III"
            schema="BankNiftyWeeklyIII"
            infotable="BANKNIFTYWEEKLY-IIIinfo"
        if(i==4):
            numberstring="IV"
            schema="BankNiftyWeeklyIV"
            infotable="BANKNIFTYWEEKLY-IVinfo"
        if(i==5):
            numberstring="V"
            schema="BankNiftyWeeklyV"
            infotable="BANKNIFTYWEEKLY-Vinfo"
        if(i==6):
            numberstring="VI"
            schema="BankNiftyWeeklyVI"
            infotable="BANKNIFTYWEEKLY-VIinfo"
        if(i==7):
            numberstring="VII"
            schema="BankNiftyWeeklyVII"
            infotable="BANKNIFTYWEEKLY-VIIinfo"
        if(i==8):
            numberstring="VIII"
            schema="BankNiftyWeeklyVIII"
            infotable="BANKNIFTYWEEKLY-VIIIinfo"
        if(i==9):
            numberstring="IX"
            schema="BankNiftyWeeklyIX"
            infotable="BANKNIFTYWEEKLY-IXinfo"
        if(i==10):
            numberstring="X"
            schema="BankNiftyWeeklyX"
            infotable="BANKNIFTYWEEKLY-Xinfo"
        if(i==11):
            numberstring="XI"
            schema="BankNiftyWeeklyXI"
            infotable="BANKNIFTYWEEKLY-XIinfo"
        if(i==12):
            numberstring="XII"
            schema="BankNiftyWeeklyXII"
            infotable="BANKNIFTYWEEKLY-XIIinfo"
        if(i==13):
            numberstring="XIII"
            schema="BankNiftyWeeklyXIII"
            infotable="BANKNIFTYWEEKLY-XIIIinfo"
        if(i==14):
            numberstring="XIV"
            schema="BankNiftyWeeklyXIV"
            infotable="BANKNIFTYWEEKLY-XIVinfo"
    
        if os.path.exists(r"C:\Users\admin\Desktop\Pyspark\BankNifty\Weekly\Banknifty-"+numberstring+".csv"):
            bndf=pd.read_csv("C:\\Users\\admin\\Desktop\\Pyspark\BankNifty\Weekly\\Banknifty-"+numberstring+".csv")
            df=bndf.groupby(['Ticker'])
            for name,group in df:
                print(name)
                sql2='''CREATE TABLE IF NOT EXISTS "'''+schema+'''"."'''+name+'''"(Ticker varchar(50) NOT NULL,Date Date NOT NULL,Time time NOT NULL,Open float NOT NULL,High float NOT NULL,Low float NOT NULL,Close float NOT NULL,Volume float NOT NULL,"Open Int" float NOT NULL);'''
                cursor.execute(sql2)
                conn.commit()
                noofrows=group.shape[0]
#                 print(noofrows)
                buffer = StringIO()
                group.to_csv(buffer, index = False)
                buffer.seek(0)
                sql = "COPY %s FROM STDIN WITH CSV HEADER DELIMITER AS ','"
                table='"'+schema+'"."'+name+'"'
                with conn.cursor() as cur:
                    #cur.execute("truncate " + table + ";")
                    cur.copy_expert(sql=sql % table, file=buffer)
                    conn.commit()
                cursor = conn.cursor()
                s='''Select 1 from "'''+schema+'''"."'''+infotable+'''" where ticker=\''''+name+'''\';'''
                cursor.execute(s)
                k=cursor.fetchall()
#                 print(k)
                if(k==[]):
                    num=re.findall(r"[-+]?(?:\d*\.*\d+)", name)
                    strike=num[0]
                    typecepe=name[-2:]
                    sql3 ='''INSERT INTO "'''+schema+'''"."'''+infotable+'''"(Ticker,Strike,Type)VALUES (%s,%s,%s)'''
                    record_to_insert = (name,strike,typecepe)
                    cursor.execute(sql3, record_to_insert)
                    conn.commit()
                sql4='''Select count(*) from "'''+schema+'''"."'''+name+'''" where date=\''''+datestr+'''\';'''
                cursor.execute(sql4)
                r=cursor.fetchall()
#                 print(r[0][0])
                if(r[0][0]!=noofrows):
                    print("numberofrows not matching")
                    break
    conn.close()

def banknifty_quarterly():
    conn = psycopg2.connect(database="BankNiftydb",
    						user='postgres', password='swancap123',
    						host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("APPENDING BANKNIFTY QUARTERLY CONTRACTS")
    for i in range(1,9):
        if(i==1):
            numberstring="I"
            schema="BankNiftyQuarterlyI"
            infotable="BANKNIFTYQUARTERLY-Iinfo"
        if(i==2):
            numberstring="II"
            schema="BankNiftyQuarterlyII"
            infotable="BANKNIFTYQUARTERLY-IIinfo"
        if(i==3):
            numberstring="III"
            schema="BankNiftyQuarterlyIII"
            infotable="BANKNIFTYQUARTERLY-IIIinfo"
        if(i==4):
            numberstring="IV"
            schema="BankNiftyQuarterlyIV"
            infotable="BANKNIFTYQUARTERLY-IVinfo"
        if(i==5):
            numberstring="V"
            schema="BankNiftyQuarterlyV"
            infotable="BANKNIFTYQUARTERLY-Vinfo"
        if(i==6):
            numberstring="VI"
            schema="BankNiftyQuarterlyVI"
            infotable="BANKNIFTYQUARTERLY-VIinfo"
        if(i==7):
            numberstring="VII"
            schema="BankNiftyQuarterlyVII"
            infotable="BANKNIFTYQUARTERLY-VIIinfo"
        if(i==8):
            numberstring="VIII"
            schema="BankNiftyQuarterlyVIII"
            infotable="BANKNIFTYQUARTERLY-VIIIinfo"
   
        if os.path.exists(r"C:\Users\admin\Desktop\Pyspark\BankNifty\Quarterly\Banknifty-"+numberstring+".csv"):
            bndf=pd.read_csv("C:\\Users\\admin\\Desktop\\Pyspark\BankNifty\Quarterly\\Banknifty-"+numberstring+".csv")
            df=bndf.groupby(['Ticker'])
            for name,group in df:
                print(name)
                sql2='''CREATE TABLE IF NOT EXISTS "'''+schema+'''"."'''+name+'''"(Ticker varchar(50) NOT NULL,Date Date NOT NULL,Time time NOT NULL,Open float NOT NULL,High float NOT NULL,Low float NOT NULL,Close float NOT NULL,Volume float NOT NULL,"Open Int" float NOT NULL);'''
                cursor.execute(sql2)
                conn.commit()
                noofrows=group.shape[0]
#                 print(noofrows)
                buffer = StringIO()
                group.to_csv(buffer, index = False)
                buffer.seek(0)
                sql = "COPY %s FROM STDIN WITH CSV HEADER DELIMITER AS ','"
                table='"'+schema+'"."'+name+'"'
                with conn.cursor() as cur:
                    #cur.execute("truncate " + table + ";")
                    cur.copy_expert(sql=sql % table, file=buffer)
                    conn.commit()
                cursor = conn.cursor()
                s='''Select 1 from "'''+schema+'''"."'''+infotable+'''" where ticker=\''''+name+'''\';'''
                cursor.execute(s)
                k=cursor.fetchall()
#                 print(k)
                if(k==[]):
                    num=re.findall(r"[-+]?(?:\d*\.*\d+)", name)
                    strike=num[0]
                    typecepe=name[-2:]
                    sql3 ='''INSERT INTO "'''+schema+'''"."'''+infotable+'''"(Ticker,Strike,Type)VALUES (%s,%s,%s)'''
                    record_to_insert = (name,strike,typecepe)
                    cursor.execute(sql3, record_to_insert)
                    conn.commit()
                sql4='''Select count(*) from "'''+schema+'''"."'''+name+'''" where date=\''''+datestr+'''\';'''
                cursor.execute(sql4)
                r=cursor.fetchall()
#                 print(r[0][0])
                if(r[0][0]!=noofrows):
                    print("numberofrows not matching")
                    break
    conn.close()
    
def banknifty_halfyearly():
    conn = psycopg2.connect(database="BankNiftydb",
    						user='postgres', password='swancap123',
    						host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("APPENDING BANKNIFTY HALFYEARLY CONTRACTS")
    for i in range(1,5):
        if(i==1):
            numberstring="I"
            schema="BankNiftyHalfYearlyI"
            infotable="BANKNIFTYHALFYEARLY-IInfo"
        if(i==2):
            numberstring="II"
            schema="BankNiftyHalfYearlyII"
            infotable="BANKNIFTYHALFYEARLY-IIInfo"
        if(i==3):
            numberstring="III"
            schema="BankNiftyHalfYearlyIII"
            infotable="BANKNIFTYHALFYEARLY-IIIInfo"
        if(i==4):
            numberstring="IV"
            schema="BankNiftyHalfYearlyIV"
            infotable="BANKNIFTYHALFYEARLY-IVInfo"
    
        if os.path.exists(r"C:\Users\admin\Desktop\Pyspark\BankNifty\Half_Yearly\Banknifty-"+numberstring+".csv"):
            bndf=pd.read_csv("C:\\Users\\admin\\Desktop\\Pyspark\BankNifty\Half_Yearly\\Banknifty-"+numberstring+".csv")
            df=bndf.groupby(['Ticker'])
            for name,group in df:
                print(name)
                sql2='''CREATE TABLE IF NOT EXISTS "'''+schema+'''"."'''+name+'''"(Ticker varchar(50) NOT NULL,Date Date NOT NULL,Time time NOT NULL,Open float NOT NULL,High float NOT NULL,Low float NOT NULL,Close float NOT NULL,Volume float NOT NULL,"Open Int" float NOT NULL);'''
                cursor.execute(sql2)
                conn.commit()
                noofrows=group.shape[0]
#                 print(noofrows)
                buffer = StringIO()
                group.to_csv(buffer, index = False)
                buffer.seek(0)
                sql = "COPY %s FROM STDIN WITH CSV HEADER DELIMITER AS ','"
                table='"'+schema+'"."'+name+'"'
                with conn.cursor() as cur:
                    #cur.execute("truncate " + table + ";")
                    cur.copy_expert(sql=sql % table, file=buffer)
                    conn.commit()
                cursor = conn.cursor()
                s='''Select 1 from "'''+schema+'''"."'''+infotable+'''" where ticker=\''''+name+'''\';'''
                cursor.execute(s)
                k=cursor.fetchall()
#                 print(k)
                if(k==[]):
                    num=re.findall(r"[-+]?(?:\d*\.*\d+)", name)
                    strike=num[0]
                    typecepe=name[-2:]
                    sql3 ='''INSERT INTO "'''+schema+'''"."'''+infotable+'''"(Ticker,Strike,Type)VALUES (%s,%s,%s)'''
                    record_to_insert = (name,strike,typecepe)
                    cursor.execute(sql3, record_to_insert)
                    conn.commit()
                sql4='''Select count(*) from "'''+schema+'''"."'''+name+'''" where date=\''''+datestr+'''\';'''
                cursor.execute(sql4)
                r=cursor.fetchall()
#                 print(r[0][0])
                if(r[0][0]!=noofrows):
                    print("numberofrows not matching")
                    break
    conn.close()

def banknifty_yearly():
    conn = psycopg2.connect(database="BankNiftydb",
    						user='postgres', password='swancap123',
    						host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("APPENDING BANKNIFTY YEARLY CONTRACTS")
    for i in range(1,3):
        if(i==1):
            numberstring="I"
            schema="BankNiftyYearlyI"
            infotable="BANKNIFTYYEARLY-IInfo"
        if(i==2):
            numberstring="II"
            schema="BankNiftyYearlyII"
            infotable="BANKNIFTYYEARLY-IIInfo"
            
        if os.path.exists(r"C:\Users\admin\Desktop\Pyspark\BankNifty\Yearly\Banknifty-"+numberstring+".csv"):
            bndf=pd.read_csv("C:\\Users\\admin\\Desktop\\Pyspark\BankNifty\Yearly\\Banknifty-"+numberstring+".csv")
            df=bndf.groupby(['Ticker'])
            for name,group in df:
                print(name)
                sql2='''CREATE TABLE IF NOT EXISTS "'''+schema+'''"."'''+name+'''"(Ticker varchar(50) NOT NULL,Date Date NOT NULL,Time time NOT NULL,Open float NOT NULL,High float NOT NULL,Low float NOT NULL,Close float NOT NULL,Volume float NOT NULL,"Open Int" float NOT NULL);'''
                cursor.execute(sql2)
                conn.commit()
                noofrows=group.shape[0]
#                 print(noofrows)
                buffer = StringIO()
                group.to_csv(buffer, index = False)
                buffer.seek(0)
                sql = "COPY %s FROM STDIN WITH CSV HEADER DELIMITER AS ','"
                table='"'+schema+'"."'+name+'"'
                with conn.cursor() as cur:
                    #cur.execute("truncate " + table + ";")
                    cur.copy_expert(sql=sql % table, file=buffer)
                    conn.commit()
                cursor = conn.cursor()
                s='''Select 1 from "'''+schema+'''"."'''+infotable+'''" where ticker=\''''+name+'''\';'''
                cursor.execute(s)
                k=cursor.fetchall()
#                 print(k)
                if(k==[]):
                    num=re.findall(r"[-+]?(?:\d*\.*\d+)", name)
                    strike=num[0]
                    typecepe=name[-2:]
                    sql3 ='''INSERT INTO "'''+schema+'''"."'''+infotable+'''"(Ticker,Strike,Type)VALUES (%s,%s,%s)'''
                    record_to_insert = (name,strike,typecepe)
                    cursor.execute(sql3, record_to_insert)
                    conn.commit()
                sql4='''Select count(*) from "'''+schema+'''"."'''+name+'''" where date=\''''+datestr+'''\';'''
                cursor.execute(sql4)
                r=cursor.fetchall()
#                 print(r[0][0])
                if(r[0][0]!=noofrows):
                    print("numberofrows not matching")
                    break
    conn.close()

def nifty_monthly():
    conn = psycopg2.connect(database="Niftydb",
                            user='postgres', password='swancap123',
                            host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("APPENDING NIFTY MONTHLY CONTRACTS")
    for i in range(1,4):
        if(i==1):
            numberstring="I"
            schema="NiftyMonthlyI"
            infotable="NIFTYMONTHLY-IInfo"
        if(i==2):
            numberstring="II"
            schema="NiftyMonthlyII"
            infotable="NIFTYMONTHLY-IIInfo"
        if(i==3):
            numberstring="III"
            schema="NiftyMonthlyIII"
            infotable="NIFTYMONTHLY-IIIInfo"
        bndf=pd.read_csv("C:\\Users\\admin\\Desktop\\Pyspark\\Nifty\\Monthly\\NIFTY-"+numberstring+".csv")
        df=bndf.groupby(['Ticker'])
        for name,group in df:
            print(name)
            sql2='''CREATE TABLE IF NOT EXISTS "'''+schema+'''"."'''+name+'''"(Ticker varchar(50) NOT NULL,Date Date NOT NULL,Time time NOT NULL,Open float NOT NULL,High float NOT NULL,Low float NOT NULL,Close float NOT NULL,Volume float NOT NULL,"Open Int" float NOT NULL);'''
            cursor.execute(sql2)
            conn.commit()
            noofrows=group.shape[0]
#             print(noofrows)
            buffer = StringIO()
            group.to_csv(buffer, index = False)
            buffer.seek(0)
            sql = "COPY %s FROM STDIN WITH CSV HEADER DELIMITER AS ','"
            table='"'+schema+'"."'+name+'"'
            with conn.cursor() as cur:
                #cur.execute("truncate " + table + ";")
                cur.copy_expert(sql=sql % table, file=buffer)
                conn.commit()
            cursor = conn.cursor()
            s='''Select 1 from "'''+schema+'''"."'''+infotable+'''" where ticker=\''''+name+'''\';'''
            cursor.execute(s)
            k=cursor.fetchall()
#             print(k)
            if(k==[]):
                num=re.findall(r"[-+]?(?:\d*\.*\d+)", name)
                strike=num[0]
                typecepe=name[-2:]
                sql3 ='''INSERT INTO "'''+schema+'''"."'''+infotable+'''"(Ticker,Strike,Type)VALUES (%s,%s,%s)'''
                record_to_insert = (name,strike,typecepe)
                cursor.execute(sql3, record_to_insert)
                conn.commit()
            sql4='''Select count(*) from "'''+schema+'''"."'''+name+'''" where date=\''''+datestr+'''\';'''
            cursor.execute(sql4)
            r=cursor.fetchall()
#             print(r[0][0])
            if(r[0][0]!=noofrows):
                print("numberofrows not matching")
                break
    conn.close()
    
def nifty_weekly():
    conn = psycopg2.connect(database="Niftydb",
                            user='postgres', password='swancap123',
                            host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("APPENDING NIFTY WEEKLY CONTRACTS")
    for i in range(1,15):
        if(i==1):
            numberstring="I"
            schema="NiftyWeeklyI"
            infotable="NIFTYWEEKLY-IInfo"
        if(i==2):
            numberstring="II"
            schema="NiftyWeeklyII"
            infotable="NIFTYWEEKLY-IIInfo"
        if(i==3):
            numberstring="III"
            schema="NiftyWeeklyIII"
            infotable="NIFTYWEEKLY-IIIInfo"
        if(i==4):
            numberstring="IV"
            schema="NiftyWeeklyIV"
            infotable="NIFTYWEEKLY-IVInfo"
        if(i==5):
            numberstring="V"
            schema="NiftyWeeklyV"
            infotable="NIFTYWEEKLY-VInfo"
        if(i==6):
            numberstring="VI"
            schema="NiftyWeeklyVI"
            infotable="NIFTYWEEKLY-VIInfo"
        if(i==7):
            numberstring="VII"
            schema="NiftyWeeklyVII"
            infotable="NIFTYWEEKLY-VIIInfo"
        if(i==8):
            numberstring="VIII"
            schema="NiftyWeeklyVIII"
            infotable="NIFTYWEEKLY-VIIIInfo"
        if(i==9):
            numberstring="IX"
            schema="NiftyWeeklyIX"
            infotable="NIFTYWEEKLY-IXInfo"
        if(i==10):
            numberstring="X"
            schema="NiftyWeeklyX"
            infotable="NIFTYWEEKLY-XInfo"
        if(i==11):
            numberstring="XI"
            schema="NiftyWeeklyXI"
            infotable="NIFTYWEEKLY-XIInfo"
        if(i==12):
            numberstring="XII"
            schema="NiftyWeeklyXII"
            infotable="NIFTYWEEKLY-XIIInfo"
        if(i==13):
            numberstring="XIII"
            schema="NiftyWeeklyXIII"
            infotable="NIFTYWEEKLY-XIIIInfo"
        if(i==14):
            numberstring="XIV"
            schema="NiftyWeeklyXIV"
            infotable="NIFTYWEEKLY-XIVInfo"
        if os.path.exists(r"C:\Users\admin\Desktop\Pyspark\Nifty\Weekly\NIFTY-"+numberstring+".csv"):
            bndf=pd.read_csv(r"C:\Users\admin\Desktop\Pyspark\Nifty\Weekly\NIFTY-"+numberstring+".csv")
            df=bndf.groupby(['Ticker'])
            for name,group in df:
                print(name)
                sql2='''CREATE TABLE IF NOT EXISTS "'''+schema+'''"."'''+name+'''"(Ticker varchar(50) NOT NULL,Date Date NOT NULL,Time time NOT NULL,Open float NOT NULL,High float NOT NULL,Low float NOT NULL,Close float NOT NULL,Volume float NOT NULL,"Open Int" float NOT NULL);'''
                cursor.execute(sql2)
                conn.commit()
                noofrows=group.shape[0]
#                 print(noofrows)
                buffer = StringIO()
                group.to_csv(buffer, index = False)
                buffer.seek(0)
                sql = "COPY %s FROM STDIN WITH CSV HEADER DELIMITER AS ','"
                table='"'+schema+'"."'+name+'"'
                with conn.cursor() as cur:
                    #cur.execute("truncate " + table + ";")
                    cur.copy_expert(sql=sql % table, file=buffer)
                    conn.commit()
                cursor = conn.cursor()
                s='''Select 1 from "'''+schema+'''"."'''+infotable+'''" where ticker=\''''+name+'''\';'''
                cursor.execute(s)
                k=cursor.fetchall()
#                 print(k)
                if(k==[]):
                    num=re.findall(r"[-+]?(?:\d*\.*\d+)", name)
                    strike=num[0]
                    typecepe=name[-2:]
                    sql3 ='''INSERT INTO "'''+schema+'''"."'''+infotable+'''"(Ticker,Strike,Type)VALUES (%s,%s,%s)'''
                    record_to_insert = (name,strike,typecepe)
                    cursor.execute(sql3, record_to_insert)
                    conn.commit()
                sql4='''Select count(*) from "'''+schema+'''"."'''+name+'''" where date=\''''+datestr+'''\';'''
                cursor.execute(sql4)
                r=cursor.fetchall()
#                 print(r[0][0])
                if(r[0][0]!=noofrows):
                    print("numberofrows not matching")
                    break
    conn.close()
    
def nifty_quarterly():
    conn = psycopg2.connect(database="Niftydb",
                            user='postgres', password='swancap123',
                            host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("APPENDING NIFTY QUARTERLY CONTRACTS")
    for i in range(1,5):
        if(i==1):
            numberstring="I"
            schema="NiftyQuarterlyI"
            infotable="NIFTYQUARTERLY-Iinfo"
        if(i==2):
            numberstring="II"
            schema="NiftyQuarterlyII"
            infotable="NIFTYQUARTERLY-IIinfo"
        if(i==3):
            numberstring="III"
            schema="NiftyQuarterlyIII"
            infotable="NIFTYQUARTERLY-IIIinfo"
        if(i==4):
            numberstring="IV"
            schema="NiftyQuarterlyIV"
            infotable="NIFTYQUARTERLY-IVinfo"
        if os.path.exists(r"C:\Users\admin\Desktop\Pyspark\Nifty\Quarterly\NIFTY-"+numberstring+".csv"):
            bndf=pd.read_csv(r"C:\\Users\\admin\\Desktop\\Pyspark\Nifty\Quarterly\\NIFTY-"+numberstring+".csv")
            df=bndf.groupby(['Ticker'])
            for name,group in df:
                print(name)
                sql2='''CREATE TABLE IF NOT EXISTS "'''+schema+'''"."'''+name+'''"(Ticker varchar(50) NOT NULL,Date Date NOT NULL,Time time NOT NULL,Open float NOT NULL,High float NOT NULL,Low float NOT NULL,Close float NOT NULL,Volume float NOT NULL,"Open Int" float NOT NULL);'''
                cursor.execute(sql2)
                conn.commit()
                noofrows=group.shape[0]
#                 print(noofrows)
                buffer = StringIO()
                group.to_csv(buffer, index = False)
                buffer.seek(0)
                sql = "COPY %s FROM STDIN WITH CSV HEADER DELIMITER AS ','"
                table='"'+schema+'"."'+name+'"'
                with conn.cursor() as cur:
                    #cur.execute("truncate " + table + ";")
                    cur.copy_expert(sql=sql % table, file=buffer)
                    conn.commit()
                cursor = conn.cursor()
                s='''Select 1 from "'''+schema+'''"."'''+infotable+'''" where ticker=\''''+name+'''\';'''
                cursor.execute(s)
                k=cursor.fetchall()
#                 print(k)
                if(k==[]):
                    num=re.findall(r"[-+]?(?:\d*\.*\d+)", name)
                    strike=num[0]
                    typecepe=name[-2:]
                    sql3 ='''INSERT INTO "'''+schema+'''"."'''+infotable+'''"(Ticker,Strike,Type)VALUES (%s,%s,%s)'''
                    record_to_insert = (name,strike,typecepe)
                    cursor.execute(sql3, record_to_insert)
                    conn.commit()
                sql4='''Select count(*) from "'''+schema+'''"."'''+name+'''" where date=\''''+datestr+'''\';'''
                cursor.execute(sql4)
                r=cursor.fetchall()
#                 print(r[0][0])
                if(r[0][0]!=noofrows):
                    print("numberofrows not matching")
                    break
    conn.close()
    
def nifty_halfyearly():
    conn = psycopg2.connect(database="Niftydb",
                            user='postgres', password='swancap123',
                            host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("APPENDING NIFTY HALFYEARLY CONTRACTS")
    for i in range(1,11):
        if(i==1):
            numberstring="I"
            schema="NiftyHalfYearlyI"
            infotable="NIFTYHALFYEARLY-Iinfo"
        if(i==2):
            numberstring="II"
            schema="NiftyHalfYearlyII"
            infotable="NIFTYHALFYEARLY-IIinfo"
        if(i==3):
            numberstring="III"
            schema="NiftyHalfYearlyIII"
            infotable="NIFTYHALFYEARLY-IIIinfo"
        if(i==4):
            numberstring="IV"
            schema="NiftyHalfYearlyIV"
            infotable="NIFTYHALFYEARLY-IVinfo"
        if(i==5):
            numberstring="V"
            schema="NiftyHalfYearlyV"
            infotable="NIFTYHALFYEARLY-Vinfo"
        if(i==6):
            numberstring="VI"
            schema="NiftyHalfYearlyVI"
            infotable="NIFTYHALFYEARLY-VIinfo"
        if(i==7):
            numberstring="VII"
            schema="NiftyHalfYearlyVII"
            infotable="NIFTYHALFYEARLY-VIIinfo"
        if(i==8):
            numberstring="VIII"
            schema="NiftyHalfYearlyVIII"
            infotable="NIFTYHALFYEARLY-VIIIinfo"
        if(i==9):
            numberstring="IX"
            schema="NiftyHalfYearlyIX"
            infotable="NIFTYHALFYEARLY-IXinfo"
        if(i==10):
            numberstring="X"
            schema="NiftyHalfYearlyX"
            infotable="NIFTYHALFYEARLY-Xinfo"
        if os.path.exists(r"C:\Users\admin\Desktop\Pyspark\Nifty\Half_Yearly\NIFTY-"+numberstring+".csv"):
            bndf=pd.read_csv(r"C:\\Users\\admin\\Desktop\\Pyspark\Nifty\Half_Yearly\\NIFTY-"+numberstring+".csv")
            df=bndf.groupby(['ticker'])
            for name,group in df:
                print(name)
                sql2='''CREATE TABLE IF NOT EXISTS "'''+schema+'''"."'''+name+'''"(Ticker varchar(50) NOT NULL,Date Date NOT NULL,Time time NOT NULL,Open float NOT NULL,High float NOT NULL,Low float NOT NULL,Close float NOT NULL,Volume float NOT NULL,"Open Int" float NOT NULL);'''
                cursor.execute(sql2)
                conn.commit()
                noofrows=group.shape[0]
#                 print(noofrows)
                buffer = StringIO()
                group.to_csv(buffer, index = False)
                buffer.seek(0)
                sql = "COPY %s FROM STDIN WITH CSV HEADER DELIMITER AS ','"
                table='"'+schema+'"."'+name+'"'
                with conn.cursor() as cur:
                    #cur.execute("truncate " + table + ";")
                    cur.copy_expert(sql=sql % table, file=buffer)
                    conn.commit()
                cursor = conn.cursor()
                s='''Select 1 from "'''+schema+'''"."'''+infotable+'''" where ticker=\''''+name+'''\';'''
                cursor.execute(s)
                k=cursor.fetchall()
#                 print(k)
                if(k==[]):
                    num=re.findall(r"[-+]?(?:\d*\.*\d+)", name)
                    strike=num[0]
                    typecepe=name[-2:]
                    sql3 ='''INSERT INTO "'''+schema+'''"."'''+infotable+'''"(Ticker,Strike,Type)VALUES (%s,%s,%s)'''
                    record_to_insert = (name,strike,typecepe)
                    cursor.execute(sql3, record_to_insert)
                    conn.commit()
                sql4='''Select count(*) from "'''+schema+'''"."'''+name+'''" where date=\''''+datestr+'''\';'''
                cursor.execute(sql4)
                r=cursor.fetchall()
#                 print(r[0][0])
                if(r[0][0]!=noofrows):
                    print("numberofrows not matching")
                    break
    conn.close()
    
def nifty_yearly():
    conn = psycopg2.connect(database="Niftydb",
                            user='postgres', password='swancap123',
                            host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("APPENDING NIFTY YEARLY CONTRACTS")
    for i in range(1,6):
        if(i==1):
            numberstring="I"
            schema="NiftyYearlyI"
            infotable="NIFTYYEARLY-Iinfo"
        if(i==2):
            numberstring="II"
            schema="NiftyYearlyII"
            infotable="NIFTYYEARLY-IIinfo"
        if(i==3):
            numberstring="III"
            schema="NiftyYearlyIII"
            infotable="NIFTYYEARLY-IIIinfo"
        if(i==4):
            numberstring="IV"
            schema="NiftyYearlyIV"
            infotable="NIFTYYEARLY-IVinfo"
        if(i==5):
            numberstring="V"
            schema="NiftyYearlyV"
            infotable="NIFTYYEARLY-Vinfo"
        if os.path.exists(r"C:\Users\admin\Desktop\Pyspark\Nifty\Yearly\NIFTY-"+numberstring+".csv"):
            bndf=pd.read_csv(r"C:\\Users\\admin\\Desktop\\Pyspark\Nifty\Yearly\\NIFTY-"+numberstring+".csv")
            df=bndf.groupby(['ticker'])
            for name,group in df:
                print(name)
                sql2='''CREATE TABLE IF NOT EXISTS "'''+schema+'''"."'''+name+'''"(Ticker varchar(50) NOT NULL,Date Date NOT NULL,Time time NOT NULL,Open float NOT NULL,High float NOT NULL,Low float NOT NULL,Close float NOT NULL,Volume float NOT NULL,"Open Int" float NOT NULL);'''
                cursor.execute(sql2)
                conn.commit()
                noofrows=group.shape[0]
#                 print(noofrows)
                buffer = StringIO()
                group.to_csv(buffer, index = False)
                buffer.seek(0)
                sql = "COPY %s FROM STDIN WITH CSV HEADER DELIMITER AS ','"
                table='"'+schema+'"."'+name+'"'
                with conn.cursor() as cur:
                    #cur.execute("truncate " + table + ";")
                    cur.copy_expert(sql=sql % table, file=buffer)
                    conn.commit()
                cursor = conn.cursor()
                s='''Select 1 from "'''+schema+'''"."'''+infotable+'''" where ticker=\''''+name+'''\';'''
                cursor.execute(s)
                k=cursor.fetchall()
#                 print(k)
                if(k==[]):
                    num=re.findall(r"[-+]?(?:\d*\.*\d+)", name)
                    strike=num[0]
                    typecepe=name[-2:]
                    sql3 ='''INSERT INTO "'''+schema+'''"."'''+infotable+'''"(Ticker,Strike,Type)VALUES (%s,%s,%s)'''
                    record_to_insert = (name,strike,typecepe)
                    cursor.execute(sql3, record_to_insert)
                    conn.commit()
                sql4='''Select count(*) from "'''+schema+'''"."'''+name+'''" where date=\''''+datestr+'''\';'''
                cursor.execute(sql4)
                r=cursor.fetchall()
#                 print(r[0][0])
                if(r[0][0]!=noofrows):
                    print("numberofrows not matching")
                    break
    conn.close()
    
def finnifty_monthly():
    conn = psycopg2.connect(database="FinNiftydb",
    						user='postgres', password='swancap123',
    						host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    folpath = r"C:\Users\admin\Desktop\Pyspark\FinNifty\Monthly\\"
    sym='FINNIFTY-'
    print("APPENDING FINNIFTY MONTHLY CONTRACTS")
    for i in range(1,4):
        if(i==1):
            numberstring="I"
            schema="FinNiftyMonthlyI"
            infotable="FINNIFTYMONTHLY-Iinfo"
        if(i==2):
            numberstring="II"
            schema="FinNiftyMonthlyII"
            infotable="FINNIFTYMONTHLY-IIinfo"
        if(i==3):
            numberstring="III"
            schema="FinNiftyMonthlyIII"
            infotable="FINNIFTYMONTHLY-IIIinfo"
    
        if os.path.exists(folpath+sym+numberstring+".csv"):    
            bndf=pd.read_csv(folpath+sym+numberstring+".csv")
            df=bndf.groupby(['ticker'])
            for name,group in df:
                print(name)
                sql2='''CREATE TABLE IF NOT EXISTS "'''+schema+'''"."'''+name+'''"(Ticker varchar(50) NOT NULL,Date Date NOT NULL,Time time NOT NULL,Open float NOT NULL,High float NOT NULL,Low float NOT NULL,Close float NOT NULL,Volume float NOT NULL,"Open Int" float NOT NULL);'''
                cursor.execute(sql2)
                conn.commit()
                noofrows=group.shape[0]
#                 print(noofrows)
                buffer = StringIO()
                group.to_csv(buffer, index = False)
                buffer.seek(0)
                sql = "COPY %s FROM STDIN WITH CSV HEADER DELIMITER AS ','"
                table='"'+schema+'"."'+name+'"'
                with conn.cursor() as cur:
                    #cur.execute("truncate " + table + ";")
                    cur.copy_expert(sql=sql % table, file=buffer)
                    conn.commit()
                cursor = conn.cursor()
                s='''Select 1 from "'''+schema+'''"."'''+infotable+'''" where ticker=\''''+name+'''\';'''
                cursor.execute(s)
                k=cursor.fetchall()
#                 print(k)
                if(k==[]):
                    num=re.findall(r"[-+]?(?:\d*\.*\d+)", name)
                    strike=num[0]
                    typecepe=name[-2:]
                    sql3 ='''INSERT INTO "'''+schema+'''"."'''+infotable+'''"(Ticker,Strike,Type)VALUES (%s,%s,%s)'''
                    record_to_insert = (name,strike,typecepe)
                    cursor.execute(sql3, record_to_insert)
                    conn.commit()
                sql4='''Select count(*) from "'''+schema+'''"."'''+name+'''" where date=\''''+datestr+'''\';'''
                cursor.execute(sql4)
                r=cursor.fetchall()
#                 print(r[0][0])
                if(r[0][0]!=noofrows):
                    print("numberofrows not matching")
                    break
    conn.close()
        
def finnifty_weekly():
    conn = psycopg2.connect(database="FinNiftydb",
    						user='postgres', password='swancap123',
    						host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    folpath = r"C:\Users\admin\Desktop\Pyspark\FinNifty\Weekly\\"
    sym='FINNIFTY-'
    print("APPENDING FINNIFTY WEEKLY CONTRACTS")
    for i in range(1,15):
        if(i==1):
            numberstring="I"
            schema="FinNiftyWeeklyI"
            infotable="FINNIFTYWEEKLY-Iinfo"
        if(i==2):
            numberstring="II"
            schema="FinNiftyWeeklyII"
            infotable="FINNIFTYWEEKLY-IIinfo"
        if(i==3):
            numberstring="III"
            schema="FinNiftyWeeklyIII"
            infotable="FINNIFTYWEEKLY-IIIinfo"
        if(i==4):
            numberstring="IV"
            schema="FinNiftyWeeklyIV"
            infotable="FINNIFTYWEEKLY-IVinfo"
        if(i==5):
            numberstring="V"
            schema="FinNiftyWeeklyV"
            infotable="FINNIFTYWEEKLY-Vinfo"
        if(i==6):
            numberstring="VI"
            schema="FinNiftyWeeklyVI"
            infotable="FINNIFTYWEEKLY-VIinfo"
        if(i==7):
            numberstring="VII"
            schema="FinNiftyWeeklyVII"
            infotable="FINNIFTYWEEKLY-VIIinfo"
        if(i==8):
            numberstring="VIII"
            schema="FinNiftyWeeklyVIII"
            infotable="FINNIFTYWEEKLY-VIIIinfo"
        if(i==9):
            numberstring="IX"
            schema="FinNiftyWeeklyIX"
            infotable="FINNIFTYWEEKLY-IXinfo"
        if(i==10):
            numberstring="X"
            schema="FinNiftyWeeklyX"
            infotable="FINNIFTYWEEKLY-Xinfo"
        if(i==11):
            numberstring="XI"
            schema="FinNiftyWeeklyXI"
            infotable="FINNIFTYWEEKLY-XIinfo"
        if(i==12):
            numberstring="XII"
            schema="FinNiftyWeeklyXII"
            infotable="FINNIFTYWEEKLY-XIIinfo"
        if(i==13):
            numberstring="XIII"
            schema="FinNiftyWeeklyXIII"
            infotable="FINNIFTYWEEKLY-XIIIinfo"
        if(i==14):
            numberstring="XIV"
            schema="FinNiftyWeeklyXIV"
            infotable="FINNIFTYWEEKLY-XIVinfo"

        if os.path.exists(folpath+sym+numberstring+".csv"):    
            bndf=pd.read_csv(folpath+sym+numberstring+".csv")
            df=bndf.groupby(['ticker'])
            for name,group in df:
                print(name)
                sql2='''CREATE TABLE IF NOT EXISTS "'''+schema+'''"."'''+name+'''"(Ticker varchar(50) NOT NULL,Date Date NOT NULL,Time time NOT NULL,Open float NOT NULL,High float NOT NULL,Low float NOT NULL,Close float NOT NULL,Volume float NOT NULL,"Open Int" float NOT NULL);'''
                cursor.execute(sql2)
                conn.commit()
                noofrows=group.shape[0]
#                 print(noofrows)
                buffer = StringIO()
                group.to_csv(buffer, index = False)
                buffer.seek(0)
                sql = "COPY %s FROM STDIN WITH CSV HEADER DELIMITER AS ','"
                table='"'+schema+'"."'+name+'"'
                with conn.cursor() as cur:
                    #cur.execute("truncate " + table + ";")
                    cur.copy_expert(sql=sql % table, file=buffer)
                    conn.commit()
                cursor = conn.cursor()
                s='''Select 1 from "'''+schema+'''"."'''+infotable+'''" where ticker=\''''+name+'''\';'''
                cursor.execute(s)
                k=cursor.fetchall()
#                 print(k)
                if(k==[]):
                    num=re.findall(r"[-+]?(?:\d*\.*\d+)", name)
                    strike=num[0]
                    typecepe=name[-2:]
                    sql3 ='''INSERT INTO "'''+schema+'''"."'''+infotable+'''"(Ticker,Strike,Type)VALUES (%s,%s,%s)'''
                    record_to_insert = (name,strike,typecepe)
                    cursor.execute(sql3, record_to_insert)
                    conn.commit()
                sql4='''Select count(*) from "'''+schema+'''"."'''+name+'''" where date=\''''+datestr+'''\';'''
                cursor.execute(sql4)
                r=cursor.fetchall()
#                 print(r[0][0])
                if(r[0][0]!=noofrows):
                    print("numberofrows not matching")
                    break
    conn.close()      
      

def option(num):
    if num==1:
        ## CONNECTION FOR BANKNIFTY
        def function_call():
            val = int(input("1 for MONTHLY\n2 for WEEKLY\n3 for QUARTERLY\n4 for HALF YEARLY\n5 for YEARLY\n6 to update ALL\n7 to EXIT\n"))
            if val==1:
                banknifty_monthly()
            elif val==2:
                banknifty_weekly()
            elif val==3:
                banknifty_quarterly()
            elif val==4:
                banknifty_halfyearly()
            elif val==5:
                banknifty_yearly()
            elif val==6:
                banknifty_monthly()
                banknifty_weekly()
                banknifty_quarterly()
                banknifty_halfyearly()
                banknifty_yearly()
            elif val==7:
                print("EXIT!!!")
    
            else:
                print("WRONG OPTION")
                function_call()
        function_call()
                
    elif num==2:
        ## CONNECTION FOR NIFTY
        def function_call():
            val = int(input("1 for MONTHLY\n2 for WEEKLY\n3 for QUARTERLY\n4 for HALF YEARLY\n5 for YEARLY\n6 to update ALL\n7 to EXIT\n"))
            if val==1:
                nifty_monthly()
            elif val==2:
                nifty_weekly()
            elif val==3:
                nifty_quarterly()
            elif val==4:
                nifty_halfyearly()
            elif val==5:
                nifty_yearly()
            elif val==6:
                nifty_monthly()
                nifty_weekly()
                nifty_quarterly()
                nifty_halfyearly()
                nifty_yearly()
            elif val==7:
                print("EXIT!!!")
    
            else:
                print("WRONG OPTION")
                function_call()
        function_call()
    
    elif num==3:
        ## CONNECTION FOR FINNIFTY
        def function_call():
            val = int(input("1 for MONTHLY\n2 for WEEKLY\n3 to update BOTH\n4 to EXIT\n"))
            if val==1:
                finnifty_monthly()
                    
            elif val==2:
                finnifty_weekly()
        
            elif val==3:
                finnifty_monthly()
                finnifty_weekly()
            elif val==4:
                print("EXIT!!!")

            else:
                print("WRONG OPTION")
                function_call()
        function_call()
        
    elif num==4:
        banknifty_monthly()
        banknifty_weekly()
        banknifty_quarterly()
        banknifty_halfyearly()
        banknifty_yearly()
        nifty_monthly()
        nifty_weekly()
        nifty_quarterly()
        nifty_halfyearly()
        nifty_yearly()
        finnifty_monthly()
        finnifty_weekly()
    
    elif num==5:
        print("BREAKING")
        
    else:
        print("Wrong option.\nPlease enter correct option")
        num = int(input("1 for BANKNIFTY\n2 for NIFTY\n3 for FINNIFTY\n4 to UPDATE ALL\n5 to EXIT\n"))
        return option(num)
    
option(choice)

et=time.time()

elapsed_time=et-st;
print("elapsed_time:",elapsed_time)

Enter a date in YYYY-MM-DD format 2023-05-09
2023-05-09
1 for BANKNIFTY
2 for NIFTY
3 for FINNIFTY
4 to UPDATE ALL
5 to EXIT
3
1 for MONTHLY
2 for WEEKLY
3 to update BOTH
4 to EXIT
3
APPENDING FINNIFTY MONTHLY CONTRACTS
FINNIFTYMONTHLY-I16500PE
FINNIFTYMONTHLY-I17000PE
FINNIFTYMONTHLY-I18000PE
FINNIFTYMONTHLY-I18350PE
FINNIFTYMONTHLY-I19000CE
FINNIFTYMONTHLY-I19000PE
FINNIFTYMONTHLY-I19100CE
FINNIFTYMONTHLY-I19150PE
FINNIFTYMONTHLY-I19200CE
FINNIFTYMONTHLY-I19200PE
FINNIFTYMONTHLY-I19250CE
FINNIFTYMONTHLY-I19300CE
FINNIFTYMONTHLY-I19300PE
FINNIFTYMONTHLY-I19350CE
FINNIFTYMONTHLY-I19400CE
FINNIFTYMONTHLY-I19400PE
FINNIFTYMONTHLY-I19500CE
FINNIFTYMONTHLY-I19500PE
FINNIFTYMONTHLY-I21500CE
APPENDING FINNIFTY WEEKLY CONTRACTS
FINNIFTYWEEKLY-I16200CE
FINNIFTYWEEKLY-I16200PE
FINNIFTYWEEKLY-I16300PE
FINNIFTYWEEKLY-I16400PE
FINNIFTYWEEKLY-I16500PE
FINNIFTYWEEKLY-I16600PE
FINNIFTYWEEKLY-I16700PE
FINNIFTYWEEKLY-I16800PE
FINNIFTYWEEKLY-I16900PE
FINNIFTYWEEKLY-I17000PE
FINNIFTYWEEKLY-I17100PE
FINNIFTYWEEKLY-I17150PE
FINNIFTYWEEKLY-I17200PE
FINNIFTYWEEKLY-I17250PE
FINNIFTYWEEKLY-I17300PE
FINNIFTYWEEKLY-I17350PE
FINNIFTYWEEKLY-I17400PE
FINNIFTYWEEKLY-I17450PE
FINNIFTYWEEKLY-I17500PE
FINNIFTYWEEKLY-I17550PE
FINNIFTYWEEKLY-I17600PE
FINNIFTYWEEKLY-I17650PE
FINNIFTYWEEKLY-I17700PE
FINNIFTYWEEKLY-I17750PE
FINNIFTYWEEKLY-I17800PE
FINNIFTYWEEKLY-I17850PE
FINNIFTYWEEKLY-I17900PE
FINNIFTYWEEKLY-I17950PE
FINNIFTYWEEKLY-I18000CE
FINNIFTYWEEKLY-I18000PE
FINNIFTYWEEKLY-I18050PE
FINNIFTYWEEKLY-I18100PE
FINNIFTYWEEKLY-I18150PE
FINNIFTYWEEKLY-I18200CE
FINNIFTYWEEKLY-I18200PE
FINNIFTYWEEKLY-I18250PE
FINNIFTYWEEKLY-I18300CE
FINNIFTYWEEKLY-I18300PE
FINNIFTYWEEKLY-I18350CE
FINNIFTYWEEKLY-I18350PE
FINNIFTYWEEKLY-I18400CE
FINNIFTYWEEKLY-I18400PE
FINNIFTYWEEKLY-I18450CE
FINNIFTYWEEKLY-I18450PE
FINNIFTYWEEKLY-I18500CE
FINNIFTYWEEKLY-I18500PE
FINNIFTYWEEKLY-I18550CE
FINNIFTYWEEKLY-I18550PE
FINNIFTYWEEKLY-I18600CE
FINNIFTYWEEKLY-I18600PE
FINNIFTYWEEKLY-I18650CE
FINNIFTYWEEKLY-I18650PE
FINNIFTYWEEKLY-I18700CE
FINNIFTYWEEKLY-I18700PE
FINNIFTYWEEKLY-I18750CE
FINNIFTYWEEKLY-I18750PE
FINNIFTYWEEKLY-I18800CE
FINNIFTYWEEKLY-I18800PE
FINNIFTYWEEKLY-I18850CE
FINNIFTYWEEKLY-I18850PE
FINNIFTYWEEKLY-I18900CE
FINNIFTYWEEKLY-I18900PE
FINNIFTYWEEKLY-I18950CE
FINNIFTYWEEKLY-I18950PE
FINNIFTYWEEKLY-I19000CE
FINNIFTYWEEKLY-I19000PE
FINNIFTYWEEKLY-I19050CE
FINNIFTYWEEKLY-I19050PE
FINNIFTYWEEKLY-I19100CE
FINNIFTYWEEKLY-I19100PE
FINNIFTYWEEKLY-I19150CE
FINNIFTYWEEKLY-I19150PE
FINNIFTYWEEKLY-I19200CE
FINNIFTYWEEKLY-I19200PE
FINNIFTYWEEKLY-I19250CE
FINNIFTYWEEKLY-I19250PE
FINNIFTYWEEKLY-I19300CE
FINNIFTYWEEKLY-I19300PE
FINNIFTYWEEKLY-I19350CE
FINNIFTYWEEKLY-I19350PE
FINNIFTYWEEKLY-I19400CE
FINNIFTYWEEKLY-I19400PE
FINNIFTYWEEKLY-I19450CE
FINNIFTYWEEKLY-I19450PE
FINNIFTYWEEKLY-I19500CE
FINNIFTYWEEKLY-I19500PE
FINNIFTYWEEKLY-I19550CE
FINNIFTYWEEKLY-I19550PE
FINNIFTYWEEKLY-I19600CE
FINNIFTYWEEKLY-I19600PE
FINNIFTYWEEKLY-I19650CE
FINNIFTYWEEKLY-I19650PE
FINNIFTYWEEKLY-I19700CE
FINNIFTYWEEKLY-I19700PE
FINNIFTYWEEKLY-I19750CE
FINNIFTYWEEKLY-I19750PE
FINNIFTYWEEKLY-I19800CE
FINNIFTYWEEKLY-I19800PE
FINNIFTYWEEKLY-I19850CE
FINNIFTYWEEKLY-I19850PE
FINNIFTYWEEKLY-I19900CE
FINNIFTYWEEKLY-I19900PE
FINNIFTYWEEKLY-I19950CE
FINNIFTYWEEKLY-I19950PE
FINNIFTYWEEKLY-I20000CE
FINNIFTYWEEKLY-I20000PE
FINNIFTYWEEKLY-I20050CE
FINNIFTYWEEKLY-I20100CE
FINNIFTYWEEKLY-I20100PE
FINNIFTYWEEKLY-I20150CE
FINNIFTYWEEKLY-I20150PE
FINNIFTYWEEKLY-I20200CE
FINNIFTYWEEKLY-I20250CE
FINNIFTYWEEKLY-I20250PE
FINNIFTYWEEKLY-I20300CE
FINNIFTYWEEKLY-I20300PE
FINNIFTYWEEKLY-I20350CE
FINNIFTYWEEKLY-I20350PE
FINNIFTYWEEKLY-I20400CE
FINNIFTYWEEKLY-I20450CE
FINNIFTYWEEKLY-I20500CE
FINNIFTYWEEKLY-I20600CE
FINNIFTYWEEKLY-I20700CE
FINNIFTYWEEKLY-I20800CE
FINNIFTYWEEKLY-I20900CE
FINNIFTYWEEKLY-I21000CE
FINNIFTYWEEKLY-I21100CE
FINNIFTYWEEKLY-I21200CE
FINNIFTYWEEKLY-I21300CE
FINNIFTYWEEKLY-I21400CE
FINNIFTYWEEKLY-I21500CE
FINNIFTYWEEKLY-II17500PE
FINNIFTYWEEKLY-II17600PE
FINNIFTYWEEKLY-II17700PE
FINNIFTYWEEKLY-II17800PE
FINNIFTYWEEKLY-II17850PE
FINNIFTYWEEKLY-II17900PE
FINNIFTYWEEKLY-II17950PE
FINNIFTYWEEKLY-II18000CE
FINNIFTYWEEKLY-II18000PE
FINNIFTYWEEKLY-II18050PE
FINNIFTYWEEKLY-II18100PE
FINNIFTYWEEKLY-II18150PE
FINNIFTYWEEKLY-II18200CE
FINNIFTYWEEKLY-II18200PE
FINNIFTYWEEKLY-II18250PE
FINNIFTYWEEKLY-II18300CE
FINNIFTYWEEKLY-II18300PE
FINNIFTYWEEKLY-II18350PE
FINNIFTYWEEKLY-II18400CE
FINNIFTYWEEKLY-II18400PE
FINNIFTYWEEKLY-II18450PE
FINNIFTYWEEKLY-II18500CE
FINNIFTYWEEKLY-II18500PE
FINNIFTYWEEKLY-II18550CE
FINNIFTYWEEKLY-II18550PE
FINNIFTYWEEKLY-II18600CE
FINNIFTYWEEKLY-II18600PE
FINNIFTYWEEKLY-II18650PE
FINNIFTYWEEKLY-II18700CE
FINNIFTYWEEKLY-II18700PE
FINNIFTYWEEKLY-II18750PE
FINNIFTYWEEKLY-II18800CE
FINNIFTYWEEKLY-II18800PE
FINNIFTYWEEKLY-II18850CE
FINNIFTYWEEKLY-II18850PE
FINNIFTYWEEKLY-II18900CE
FINNIFTYWEEKLY-II18900PE
FINNIFTYWEEKLY-II18950CE
FINNIFTYWEEKLY-II18950PE
FINNIFTYWEEKLY-II19000CE
FINNIFTYWEEKLY-II19000PE
FINNIFTYWEEKLY-II19050CE
FINNIFTYWEEKLY-II19050PE
FINNIFTYWEEKLY-II19100CE
FINNIFTYWEEKLY-II19100PE
FINNIFTYWEEKLY-II19150CE
FINNIFTYWEEKLY-II19150PE
FINNIFTYWEEKLY-II19200CE
FINNIFTYWEEKLY-II19200PE
FINNIFTYWEEKLY-II19250CE
FINNIFTYWEEKLY-II19250PE
FINNIFTYWEEKLY-II19300CE
FINNIFTYWEEKLY-II19300PE
FINNIFTYWEEKLY-II19350CE
FINNIFTYWEEKLY-II19350PE
FINNIFTYWEEKLY-II19400CE
FINNIFTYWEEKLY-II19400PE
FINNIFTYWEEKLY-II19450CE
FINNIFTYWEEKLY-II19450PE
FINNIFTYWEEKLY-II19500CE
FINNIFTYWEEKLY-II19500PE
FINNIFTYWEEKLY-II19550CE
FINNIFTYWEEKLY-II19550PE
FINNIFTYWEEKLY-II19600CE
FINNIFTYWEEKLY-II19600PE
FINNIFTYWEEKLY-II19650CE
FINNIFTYWEEKLY-II19650PE
FINNIFTYWEEKLY-II19700CE
FINNIFTYWEEKLY-II19700PE
FINNIFTYWEEKLY-II19750CE
FINNIFTYWEEKLY-II19800CE
FINNIFTYWEEKLY-II19900CE
FINNIFTYWEEKLY-II19900PE
FINNIFTYWEEKLY-II19950PE
FINNIFTYWEEKLY-II20000CE
FINNIFTYWEEKLY-II20000PE
FINNIFTYWEEKLY-II20100CE
FINNIFTYWEEKLY-II20200CE
FINNIFTYWEEKLY-II20250CE
FINNIFTYWEEKLY-II20300CE
FINNIFTYWEEKLY-II20350CE
FINNIFTYWEEKLY-II20400CE
FINNIFTYWEEKLY-II20450CE
FINNIFTYWEEKLY-II20500CE
FINNIFTYWEEKLY-II20600CE
FINNIFTYWEEKLY-II20700CE
FINNIFTYWEEKLY-II20800CE
FINNIFTYWEEKLY-II20900CE
FINNIFTYWEEKLY-II21000CE
FINNIFTYWEEKLY-II21100CE
FINNIFTYWEEKLY-III18000PE
FINNIFTYWEEKLY-III18300PE
FINNIFTYWEEKLY-III19000PE
FINNIFTYWEEKLY-III19200CE
FINNIFTYWEEKLY-III19200PE
FINNIFTYWEEKLY-III19300CE
FINNIFTYWEEKLY-III19300PE
FINNIFTYWEEKLY-III19350CE
FINNIFTYWEEKLY-III19350PE
FINNIFTYWEEKLY-III19400PE
FINNIFTYWEEKLY-III19450CE
FINNIFTYWEEKLY-III19500PE
FINNIFTYWEEKLY-IV16500PE
FINNIFTYWEEKLY-IV17000PE
FINNIFTYWEEKLY-IV18000PE
FINNIFTYWEEKLY-IV18350PE
FINNIFTYWEEKLY-IV19000CE
FINNIFTYWEEKLY-IV19000PE
FINNIFTYWEEKLY-IV19100CE
FINNIFTYWEEKLY-IV19150PE
FINNIFTYWEEKLY-IV19200CE
FINNIFTYWEEKLY-IV19200PE
FINNIFTYWEEKLY-IV19250CE
FINNIFTYWEEKLY-IV19300CE
FINNIFTYWEEKLY-IV19300PE
FINNIFTYWEEKLY-IV19350CE
FINNIFTYWEEKLY-IV19400CE
FINNIFTYWEEKLY-IV19400PE
FINNIFTYWEEKLY-IV19500CE
FINNIFTYWEEKLY-IV19500PE
FINNIFTYWEEKLY-IV21500CE
elapsed_time: 26.994590759277344