In [16]:
import psycopg2
import time
import pandas as pd
from io import StringIO
import re
import os
from os import walk
from datetime import date

st=time.time()
date1 = date(2023,2,24)
day = date1.strftime('%d')
nummonth=date1.strftime("%m")
year=date1.strftime('%Y')
datestr=str(year)+"-"+str(nummonth)+"-"+str(day)
print(datestr)

choice = int(input("1 for BANKNIFTY\n2 for NIFTY\n3 for FINNIFTY\n4 to EXIT\n"))

def banknifty_monthly():
    conn = psycopg2.connect(database="BankNiftydb",
                            user='postgres', password='swancap123',
                            host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )

    conn.autocommit = True
    cursor = conn.cursor()
    print("DELETING FROM BANKNIFTY-MONTHLY SCHEMA")
    for i in range(1,4):
        if(i==1):
            numberstring="I"
            schema="BankNiftyMonthlyI"
            infotable="BANKNIFTYMONTHLY-Iinfo"
        if(i==2):
            numberstring="II"
            schema="BankNiftyMonthlyII"
            infotable="BANKNIFTYMONTHLY-IIinfo"
        if(i==3):
            numberstring="III"
            schema="BankNiftyMonthlyIII"
            infotable="BANKNIFTYMONTHLY-IIIinfo"
        sql2='''select *from "'''+schema+'''".delete_datewisemulti(\''''+datestr+'''\');'''
        cursor.execute(sql2)
        conn.commit()
        print("Deletion from schema "+schema+" done")
    conn.close()
    
def banknifty_weekly():
    conn = psycopg2.connect(database="BankNiftydb",
                            user='postgres', password='swancap123',
                            host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("DELETING FROM BANKNIFTY-WEEKLY SCHEMA")
    for i in range(1,13):
        if(i==1):
            numberstring="I"
            schema="BankNiftyWeeklyI"
            infotable="BANKNIFTYWEEKLY-Iinfo"
        if(i==2):
            numberstring="II"
            schema="BankNiftyWeeklyII"
            infotable="BANKNIFTYWEEKLY-IIinfo"
        if(i==3):
            numberstring="III"
            schema="BankNiftyWeeklyIII"
            infotable="BANKNIFTYWEEKLY-IIIinfo"
        if(i==4):
            numberstring="IV"
            schema="BankNiftyWeeklyIV"
            infotable="BANKNIFTYWEEKLY-IVinfo"
        if(i==5):
            numberstring="V"
            schema="BankNiftyWeeklyV"
            infotable="BANKNIFTYWEEKLY-Vinfo"
        if(i==6):
            numberstring="VI"
            schema="BankNiftyWeeklyVI"
            infotable="BANKNIFTYWEEKLY-VIinfo"
        if(i==7):
            numberstring="VII"
            schema="BankNiftyWeeklyVII"
            infotable="BANKNIFTYWEEKLY-VIIinfo"
        if(i==8):
            numberstring="VIII"
            schema="BankNiftyWeeklyVIII"
            infotable="BANKNIFTYWEEKLY-VIIIinfo"
        if(i==9):
            numberstring="IX"
            schema="BankNiftyWeeklyIX"
            infotable="BANKNIFTYWEEKLY-IXinfo"
        if(i==10):
            numberstring="X"
            schema="BankNiftyWeeklyX"
            infotable="BANKNIFTYWEEKLY-Xinfo"
        if(i==11):
            numberstring="XI"
            schema="BankNiftyWeeklyXI"
            infotable="BANKNIFTYWEEKLY-XIinfo"
        if(i==12):
            numberstring="XII"
            schema="BankNiftyWeeklyXII"
            infotable="BANKNIFTYWEEKLY-XIIinfo"
        sql2='''select *from "'''+schema+'''".delete_datewisemulti(\''''+datestr+'''\');'''
        cursor.execute(sql2)
        conn.commit()
        print("Deletion from schema "+schema+" done")
    conn.close()
    
def banknifty_quarterly():
    conn = psycopg2.connect(database="BankNiftydb",
                            user='postgres', password='swancap123',
                            host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("DELETING FROM BANKNIFTY-QUARTERLY SCHEMA")
    for i in range(1,5):
        if(i==1):
            numberstring="I"
            schema="BankNiftyQuarterlyI"
            infotable="BANKNIFTYQUARTERLY-IInfo"
        if(i==2):
            numberstring="II"
            schema="BankNiftyQuarterlyII"
            infotable="BANKNIFTYQUARTERLY-IIInfo"
        if(i==3):
            numberstring="III"
            schema="BankNiftyQuarterlyIII"
            infotable="BANKNIFTYQUARTERLY-IIIInfo"
        if(i==4):
            numberstring="IV"
            schema="BankNiftyQuarterlyIV"
            infotable="BANKNIFTYQUARTERLY-IVInfo"
        sql2='''select *from "'''+schema+'''".delete_datewisemulti(\''''+datestr+'''\');'''
        cursor.execute(sql2)
        conn.commit()
        print("Deletion from schema "+schema+" done")
    conn.close()
    
def banknifty_halfyearly():
    conn = psycopg2.connect(database="BankNiftydb",
                            user='postgres', password='swancap123',
                            host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("DELETING FROM BANKNIFTY-HALFYEARLY SCHEMA")
    for i in range(1,5):
        if(i==1):
            numberstring="I"
            schema="BankNiftyHalfYearlyI"
            infotable="BANKNIFTYHALFYEARLY-IInfo"
        if(i==2):
            numberstring="II"
            schema="BankNiftyHalfYearlyII"
            infotable="BANKNIFTYHALFYEARLY-IIInfo"
        if(i==3):
            numberstring="III"
            schema="BankNiftyHalfYearlyIII"
            infotable="BANKNIFTYHALFYEARLY-IIIInfo"
        if(i==4):
            numberstring="IV"
            schema="BankNiftyHalfYearlyIV"
            infotable="BANKNIFTYHALFYEARLY-IVInfo"
        sql2='''select *from "'''+schema+'''".delete_datewisemulti(\''''+datestr+'''\');'''
        cursor.execute(sql2)
        conn.commit()
        print("Deletion from schema "+schema+" done")
    conn.close()
    
def banknifty_yearly():
    conn = psycopg2.connect(database="BankNiftydb",
                            user='postgres', password='swancap123',
                            host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("DELETING FROM BANKNIFTY-YEARLY SCHEMA")
    for i in range(1,2):
        if(i==1):
            numberstring="I"
            schema="BankNiftyYearlyI"
            infotable="BANKNIFTYYEARLY-IInfo"
        if(i==2):
            numberstring="II"
            schema="BankNiftyYearlyII"
            infotable="BANKNIFTYYEARLY-IIInfo"
        if(i==3):
            numberstring="III"
            schema="BankNiftyYearlyIII"
            infotable="BANKNIFTYYEARLY-IIIInfo"
        if(i==4):
            numberstring="IV"
            schema="BankNiftyYearlyIV"
            infotable="BANKNIFTYYEARLY-IVInfo"
        sql2='''select *from "'''+schema+'''".delete_datewisemulti(\''''+datestr+'''\');'''
        cursor.execute(sql2)
        conn.commit()
        print("Deletion from schema "+schema+" done")
    conn.close()
    
def nifty_monthly():
    conn = psycopg2.connect(database="Niftydb",
                            user='postgres', password='swancap123',
                            host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("DELETING FROM NIFTY-MONTHLY SCHEMA")
    for i in range(1,4):
        if(i==1):
            numberstring="I"
            schema="NiftyMonthlyI"
            infotable="NIFTYMONTHLY-IInfo"
        if(i==2):
            numberstring="II"
            schema="NiftyMonthlyII"
            infotable="NIFTYMONTHLY-IIInfo"
        if(i==3):
            numberstring="III"
            schema="NiftyMonthlyIII"
            infotable="NIFTYMONTHLY-IIIInfo"
        sql2='''select *from "'''+schema+'''".delete_datewisemulti(\''''+datestr+'''\');'''
        cursor.execute(sql2)
        conn.commit()
        print("Deletion from schema "+schema+" done")
    conn.close()

def nifty_weekly():
    conn = psycopg2.connect(database="Niftydb",
                            user='postgres', password='swancap123',
                            host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("DELETING FROM NIFTY-WEEKLY SCHEMA")
    for i in range(1,15):
        if(i==1):
            numberstring="I"
            schema="NiftyWeeklyI"
            infotable="NIFTYWEEKLY-IInfo"
        if(i==2):
            numberstring="II"
            schema="NiftyWeeklyII"
            infotable="NIFTYWEEKLY-IIInfo"
        if(i==3):
            numberstring="III"
            schema="NiftyWeeklyIII"
            infotable="NIFTYWEEKLY-IIIInfo"
        if(i==4):
            numberstring="IV"
            schema="NiftyWeeklyIV"
            infotable="NIFTYWEEKLY-IVInfo"
        if(i==5):
            numberstring="V"
            schema="NiftyWeeklyV"
            infotable="NIFTYWEEKLY-VInfo"
        if(i==6):
            numberstring="VI"
            schema="NiftyWeeklyVI"
            infotable="NIFTYWEEKLY-VIInfo"
        if(i==7):
            numberstring="VII"
            schema="NiftyWeeklyVII"
            infotable="NIFTYWEEKLY-VIIInfo"
        if(i==8):
            numberstring="VIII"
            schema="NiftyWeeklyVIII"
            infotable="NIFTYWEEKLY-VIIIInfo"
        if(i==9):
            numberstring="IX"
            schema="NiftyWeeklyIX"
            infotable="NIFTYWEEKLY-IXInfo"
        if(i==10):
            numberstring="X"
            schema="NiftyWeeklyX"
            infotable="NIFTYWEEKLY-XInfo"
        if(i==11):
            numberstring="XI"
            schema="NiftyWeeklyXI"
            infotable="NIFTYWEEKLY-XIInfo"
        if(i==12):
            numberstring="XII"
            schema="NiftyWeeklyXII"
            infotable="NIFTYWEEKLY-XIIInfo"
        if(i==13):
            numberstring="XIII"
            schema="NiftyWeeklyXIII"
            infotable="NIFTYWEEKLY-XIIIInfo"
        if(i==14):
            numberstring="XIV"
            schema="NiftyWeeklyXIV"
            infotable="NIFTYWEEKLY-XIVInfo"
        sql2='''select *from "'''+schema+'''".delete_datewisemulti(\''''+datestr+'''\');'''
        cursor.execute(sql2)
        conn.commit()
        print("Deletion from schema "+schema+" done")
    conn.close()
    
def nifty_quarterly():
    conn = psycopg2.connect(database="Niftydb",
                            user='postgres', password='swancap123',
                            host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("DELETING FROM NIFTY-QUARTERLY SCHEMA")
    for i in range(1,5):
        if(i==1):
            numberstring="I"
            schema="NiftyQuarterlyI"
            infotable="NIFTYQUARTERLY-Iinfo"
        if(i==2):
            numberstring="II"
            schema="NiftyQuarterlyII"
            infotable="NIFTYQUARTERLY-IIinfo"
        if(i==3):
            numberstring="III"
            schema="NiftyQuarterlyIII"
            infotable="NIFTYQUARTERLY-IIIinfo"
        if(i==4):
            numberstring="IV"
            schema="NiftyQuarterlyIV"
            infotable="NIFTYQUARTERLY-IVinfo"
        sql2='''select *from "'''+schema+'''".delete_datewisemulti(\''''+datestr+'''\');'''
        cursor.execute(sql2)
        conn.commit()
        print("Deletion from schema "+schema+" done")
    conn.close()

def nifty_halfyearly():
    conn = psycopg2.connect(database="Niftydb",
                            user='postgres', password='swancap123',
                            host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("DELETING FROM NIFTY-HALFYEARLY SCHEMA")
    for i in range(1,11):
        if(i==1):
            numberstring="I"
            schema="NiftyHalfYearlyI"
            infotable="NIFTYHALFYEARLY-Iinfo"
        if(i==2):
            numberstring="II"
            schema="NiftyHalfYearlyII"
            infotable="NIFTYHALFYEARLY-IIinfo"
        if(i==3):
            numberstring="III"
            schema="NiftyHalfYearlyIII"
            infotable="NIFTYHALFYEARLY-IIIinfo"
        if(i==4):
            numberstring="IV"
            schema="NiftyHalfYearlyIV"
            infotable="NIFTYHALFYEARLY-IVinfo"
        if(i==5):
            numberstring="V"
            schema="NiftyHalfYearlyV"
            infotable="NIFTYHALFYEARLY-Vinfo"
        if(i==6):
            numberstring="VI"
            schema="NiftyHalfYearlyVI"
            infotable="NIFTYHALFYEARLY-VIinfo"
        if(i==7):
            numberstring="VII"
            schema="NiftyHalfYearlyVII"
            infotable="NIFTYHALFYEARLY-VIIinfo"
        if(i==8):
            numberstring="VIII"
            schema="NiftyHalfYearlyVIII"
            infotable="NIFTYHALFYEARLY-VIIIinfo"
        if(i==9):
            numberstring="IX"
            schema="NiftyHalfYearlyIX"
            infotable="NIFTYHALFYEARLY-IXinfo"
        if(i==10):
            numberstring="X"
            schema="NiftyHalfYearlyX"
            infotable="NIFTYHALFYEARLY-Xinfo"
        sql2='''select *from "'''+schema+'''".delete_datewisemulti(\''''+datestr+'''\');'''
        cursor.execute(sql2)
        conn.commit()
        print("Deletion from schema "+schema+" done")
    conn.close()
    
def nifty_yearly():
    conn = psycopg2.connect(database="Niftydb",
                            user='postgres', password='swancap123',
                            host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("DELETING FROM NIFTY-YEARLY SCHEMA")
    for i in range(1,6):
        if(i==1):
            numberstring="I"
            schema="NiftyYearlyI"
            infotable="NIFTYYEARLY-Iinfo"
        if(i==2):
            numberstring="II"
            schema="NiftyYearlyII"
            infotable="NIFTYYEARLY-IIinfo"
        if(i==3):
            numberstring="III"
            schema="NiftyYearlyIII"
            infotable="NIFTYYEARLY-IIIinfo"
        if(i==4):
            numberstring="IV"
            schema="NiftyYearlyIV"
            infotable="NIFTYYEARLY-IVinfo"
        if(i==5):
            numberstring="V"
            schema="NiftyYearlyV"
            infotable="NIFTYYEARLY-Vinfo"
        sql2='''select *from "'''+schema+'''".delete_datewisemulti(\''''+datestr+'''\');'''
        cursor.execute(sql2)
        conn.commit()
        print("Deletion from schema "+schema+" done")
    conn.close()
    
def finnifty_monthly():
    conn = psycopg2.connect(database="FinNiftydb",
                            user='postgres', password='swancap123',
                            host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("DELETING FROM FINNIFTY-MONTHLY SCHEMA")
    for i in range(1,4):
        if(i==1):
            numberstring="I"
            schema="FinNiftyMonthlyI"
            infotable="FINNIFTYMONTHLY-Iinfo"
        if(i==2):
            numberstring="II"
            schema="FinNiftyMonthlyII"
            infotable="FINNIFTYMONTHLY-IIinfo"
        if(i==3):
            numberstring="III"
            schema="FinNiftyMonthlyII"
            infotable="FINNIFTYMONTHLY-IIIinfo"
        sql2='''select *from "'''+schema+'''".delete_datewisemulti(\''''+datestr+'''\');'''
        cursor.execute(sql2)
        conn.commit()
        print("Deletion from schema "+schema+" done")
    conn.close()
        
def finnifty_weekly():
    conn = psycopg2.connect(database="FinNiftydb",
                            user='postgres', password='swancap123',
                            host='swandatabase.cfehmk2wtejq.ap-south-1.rds.amazonaws.com', port='5432'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print("DELETING FROM FINNIFTY-WEEKLY SCHEMA")
    for i in range(1,12):
        if(i==1):
            numberstring="I"
            schema="FinNiftyWeeklyI"
            infotable="FINNIFTYWEEKLY-Iinfo"
        if(i==2):
            numberstring="II"
            schema="FinNiftyWeeklyII"
            infotable="FINNIFTYWEEKLY-IIinfo"
        if(i==3):
            numberstring="III"
            schema="FinNiftyWeeklyIII"
            infotable="FINNIFTYWEEKLY-IIIinfo"
        if(i==4):
            numberstring="IV"
            schema="FinNiftyWeeklyIV"
            infotable="FINNIFTYWEEKLY-IVinfo"
        if(i==5):
            numberstring="V"
            schema="FinNiftyWeeklyV"
            infotable="FINNIFTYWEEKLY-Vinfo"
        if(i==6):
            numberstring="VI"
            schema="FinNiftyWeeklyVI"
            infotable="FINNIFTYWEEKLY-VIinfo"
        if(i==7):
            numberstring="VII"
            schema="FinNiftyWeeklyVII"
            infotable="FINNIFTYWEEKLY-VIIinfo"
        if(i==8):
            numberstring="VIII"
            schema="FinNiftyWeeklyVIII"
            infotable="FINNIFTYWEEKLY-VIIIinfo"
#         if(i==9):
#             numberstring="IX"
#             schema="FinNiftyWeeklyIX"
#             infotable="FINNIFTYWEEKLY-IXinfo"
        if(i==10):
            numberstring="X"
            schema="FinNiftyWeeklyX"
            infotable="FINNIFTYWEEKLY-Xinfo"
        if(i==11):
            numberstring="XI"
            schema="FinNiftyWeeklyXI"
            infotable="FINNIFTYWEEKLY-XIinfo"
        if(i==12):
            numberstring="XII"
            schema="FinNiftyWeeklyXII"
            infotable="FINNIFTYWEEKLY-XIIinfo"

        sql2='''select *from "'''+schema+'''".delete_datewisemulti(\''''+datestr+'''\');'''

        cursor.execute(sql2)
        conn.commit()
        print("Deletion from schema "+schema+" done")
    conn.close()
    
def option(num):
    if num==1:
        ## CONNECTION FOR BANKNIFTY
        def function_call():
            val = int(input("1 for MONTHLY\n2 for WEEKLY\n3 for QUARTERLY\n4 for HALF YEARLY\n5 for YEARLY\n6 to DELETE ALL\n7 to EXIT\n"))
            if val==1:
                banknifty_monthly()
            elif val==2:
                banknifty_weekly()
            elif val==3:
                banknifty_quarterly()
            elif val==4:
                banknifty_halfyearly()
            elif val==5:
                banknifty_yearly()
            elif val==6:
                banknifty_monthly()
                banknifty_weekly()
                banknifty_quarterly()
                banknifty_halfyearly()
                banknifty_yearly()
            elif val==7:
                print("EXIT!!!")
    
            else:
                print("WRONG OPTION")
                function_call()
        function_call()
    
    elif num==2:
        ## CONNECTION FOR NIFTY
        def function_call():
            val = int(input("1 for MONTHLY\n2 for WEEKLY\n3 for QUARTERLY\n4 for HALF YEARLY\n5 for YEARLY\n6 to DELETE ALL\n7 to EXIT"))
            if val==1:
                nifty_monthly()
            elif val==2:
                nifty_weekly()
            elif val==3:
                nifty_quarterly()
            elif val==4:
                nifty_halfyearly()
            elif val==5:
                nifty_yearly()
            elif val==6:
                nifty_monthly()
                nifty_weekly()
                nifty_quarterly()
                nifty_halfyearly()
                nifty_yearly()
            elif val==7:
                print("EXIT!!!")
    
            else:
                print("WRONG OPTION")
                function_call()
        function_call()
    
    elif num==3:
        ## CONNECTION FOR FINNIFTY
        def function_call():
            val = int(input("1 for MONTHLY\n2 for WEEKLY\n3 to DELETE FROM BOTH SCHEMAS\n4 to EXIT\n"))
            if val==1:
                finnifty_monthly()
            elif val==2:
                finnifty_weekly()
            elif val==3:
                finnifty_monthly()
                finnifty_weekly()
            elif val==4:
                print("EXIT!!")
            else:
                print("WRONG OPTION")
                function_call()
        function_call()

option(choice)

et=time.time()

elapsed_time=et-st;
print("elapsed_time:",elapsed_time)

2023-02-24
1 for BANKNIFTY
2 for NIFTY
3 for FINNIFTY
4 to EXIT
2
1 for MONTHLY
2 for WEEKLY
3 for QUARTERLY
4 for HALF YEARLY
5 for YEARLY
6 to DELETE ALL
7 to EXIT5
DELETING FROM NIFTY-YEARLY SCHEMA
Deletion from schema NiftyYearlyI done
Deletion from schema NiftyYearlyII done
Deletion from schema NiftyYearlyIII done
Deletion from schema NiftyYearlyIV done
Deletion from schema NiftyYearlyV done
elapsed_time: 15.245709896087646